@charset "UTF-8";
/* menu burger - start -*/
/*  -infografika menu burger - start -*/
/* line 5, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
.menu {
  padding-left: 22px;
}

/* line 9, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
.menu__burger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  width: 100%;
  max-width: 20px;
  height: 15px;
  z-index: 3;
  top: 12px;
  zoom: 1.56;
}

/* line 23, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
.menu__burger svg {
  height: 15px;
}

/* line 28, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  -webkit-transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* line 35, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
  width: 20px;
}

/* line 40, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
  width: 20px;
}

/* line 45, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
  width: 20px;
}

/* line 50, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -137;
  stroke-width: 6;
}

/* line 55, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
.opened .line2 {
  stroke-dasharray: 0 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

/* line 60, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -137;
  stroke-width: 6;
}

/* -infografika menu burger - finish -*/
/* line 68, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
nav {
  top: 75px;
  right: 100%;
  position: absolute;
  width: 206px;
  border: 0;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  z-index: 2;
}

/* line 88, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
nav li {
  display: block;
  width: 100%;
  height: 32px;
  padding-top: 10px;
  text-align: center;
}

/* line 97, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
nav li a {
  font-weight: 500;
  font-size: 10px;
  line-height: 140%;
  text-transform: uppercase;
  text-style: none;
  display: block;
  height: 100%;
}

/* line 111, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
nav li:first-child {
  padding-top: 0;
}

/* line 113, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
nav li:first-child a {
  background: url(/img/home/house.svg) no-repeat center center;
}

/* line 118, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
nav.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* menu burger - finish -*/
@media screen and (min-width: 370.5px) {
  /* menu burger - start -*/
  /*  -infografika menu burger - start */
  /* line 127, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
  .menu {
    padding-top: 10px;
    width: 100%;
  }
  /* line 131, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
  .menu__burger {
    display: none;
  }
  /*  -infografika menu burger - finis */
  /* line 136, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
  nav {
    position: relative;
    top: initial;
    right: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    flex-stretch: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 7.5%;
       -moz-column-gap: 7.5%;
            column-gap: 7.5%;
    width: 100%;
  }
  /* line 149, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
  nav li {
    display: inline-block;
    width: initial;
    height: 20px;
    padding-top: 5px;
  }
  /* line 155, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
  nav li a:hover {
    zoom: initial;
  }
  /* line 160, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
  nav li:first-child {
    width: 25px;
  }
  /* menu burger - finis */
}

@media screen and (min-width: 1200px) {
  /*  -infografika menu burger - start -*/
  /* line 170, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
  .menu {
    padding-left: 0px;
  }
  /*  -infografika menu burger - fiihish -*/
  /* line 176, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
  nav li {
    height: initial;
    gap: 0;
  }
}

@media screen and (min-width: 1366px) {
  /* line 189, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
  nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-column-gap: 7%;
       -moz-column-gap: 7%;
            column-gap: 7%;
  }
  /* line 197, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
  nav li a {
    font-size: inherit;
  }
}

@media screen and (max-device-width: 1023.98px) {
  /* line 204, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
  nav li a {
    font-weight: 600;
  }
}

/* Block meta-data in the <Heard> - start */
/* line 4, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
header {
  padding: 0 22px;
  padding-bottom: 20px;
  min-width: 276px;
  width: 100%;
  max-width: 320px;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  z-index: 1;
  background-color: #EDF2F5;
}

/* line 21, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
header heard {
  width: 100%;
}

/* line 28, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
.header_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

/* line 37, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
#slogan, #offer, #messendger {
  display: none;
}

/* line 42, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
#logo {
  display: inline-block;
  width: 75px;
  height: 52px;
  background: url(/img/logo/backg.png) no-repeat center center;
  background-size: 75px 52px;
  z-index: 1;
}

/* line 51, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
#logo a {
  display: block;
  height: 100%;
  background: url(/img/logo/logo.png) no-repeat center center;
  background-size: 51.46px 21.35px;
  z-index: 2;
}

/* line 60, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
#logo a:hover {
  zoom: 1;
}

/* -block <address> in the <Heard> - start */
/* line 67, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
address {
  display: inline-block;
  font-size: 1.1429em;
  height: 52px;
  width: 155px;
  padding: 10px 0 0 22px;
}

/* line 76, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
address time {
  font-size: 7px;
  line-height: 9px;
  font-weight: 400;
  letter-spacing: -0.03em;
}

/* line 82, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
address time[datetime=workday] {
  padding-left: 12px;
}

/* line 86, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
address time[datetime=workday], address time[datetime=weekends] {
  font-weight: 700;
}

/* line 94, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
address div {
  font-weight: 600;
  line-height: 14px;
}

/* line 100, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
address div a {
  font-style: normal;
  letter-spacing: 0.4px;
}

/* line 104, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
address div a:hover {
  zoom: 1;
}

/* line 112, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
address time[datetime="workday"]::before {
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  left: 0;
  position: absolute;
  border-radius: 5px;
  background: #12C868;
  z-index: 2;
}

/* -block <address> in the <Heard> - finish */
/* -block phone number in the <Heard> - start */
/* line 128, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
.header_data__callForm {
  padding-top: 4px;
  text-align: center;
}

/* line 131, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
.header_data__callForm a {
  display: inline-block;
  font-size: 0.715em;
  color: #12C868;
  position: relative;
}

/* line 138, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
.header_data__callForm a:hove {
  color: #F38120;
}

/* line 141, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
.header_data__callForm a::after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  border: 0;
  border-bottom: 2px #12C868 dotted;
  position: absolute;
  bottom: -6px;
}

/* -block phone number in the <Heard> - finish */
/* Block meta-data in the <Heard> - finish */
@media screen and (min-width: 370.5px) {
  /* line 165, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 1920px;
    height: initial;
    background: none;
    padding-bottom: 20px;
    padding-left: 9.1%;
    padding-right: 9.1%;
    z-index: 2;
  }
  /* Block meta-data in the <Heard> - start */
  /* line 183, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  .header_data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 5%;
       -moz-column-gap: 5%;
            column-gap: 5%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  /* -Block <#offer> - start */
  /* line 196, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  #offer {
    padding-top: 20px;
    display: inline-block;
  }
  /* line 200, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  #offer a {
    padding-left: 25px;
    font-weight: 600;
    font-size: 0.85715em;
    background: none;
    z-index: 2;
  }
  /* line 206, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  #offer a:hover {
    zoom: initial;
  }
  /* line 210, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  #offer a::before {
    content: 'Pdf';
    display: inline;
    color: #12C868;
    position: absolute;
    left: 0;
    z-index: 1;
  }
  /* -Block <#offer> - finish */
  /* Block meta-data in the <Heard> - finish */
}

@media screen and (max-device-height: 629.95px) and (max-device-width: 1023.98px) {
  /* line 227, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  header {
    background-color: #EDF2F5;
  }
}

@media screen and (min-width: 1024px) {
  /* Block meta-data in the <Heard> - start */
  /* line 232, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  header {
    width: 100%;
  }
  /* line 236, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  #logo {
    width: 188px;
    height: 78px;
    background: none;
  }
  /* line 241, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  #logo a {
    background: url(/img/logo/logo_max.png) no-repeat center center;
    background-size: 188px 78px;
  }
  /* Block meta-data in the <Heard> - flash */
  /* Block meta-data in the <Heard> - start */
  /* line 250, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  #slogan {
    display: block;
    width: 205px;
    height: 92px;
  }
  /* line 254, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  #slogan p {
    font-size: 0.85715em;
  }
  /* Block meta-data in the <Heard> - finish */
}

@media screen and (min-width: 1366px) {
  /* -Block <#offer> - start */
  /* line 264, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  #offer {
    padding-left: 20px;
  }
}

@media screen and (min-width: 1366px) {
  /* Block meta-data in the <Heard> - start */
  /* line 272, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  header {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 277, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  .header_data {
    padding: 65px 30px 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 5%;
       -moz-column-gap: 5%;
            column-gap: 5%;
  }
  /* line 284, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  #slogan, #offer, #logo, #messendger {
    text-align: center;
  }
  /* Block meta-data in the <Heard> - finish */
  /* -Block <#offer> - start */
  /* line 289, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  #offer {
    padding-top: 37px;
  }
  /* line 293, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  #offer a {
    display: inline-block;
    width: 100%;
    padding-left: 0;
    letter-spacing: 0.6px;
  }
  /* line 299, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  #offer a::before {
    left: -49px;
  }
  /* -Block <#offer> - finish */
  /* -Block <#messendger> - start */
  /* -Block <#messendger> - start */
  /* line 4, D:/OpenServer/domains/Test_hhr/scss/messendger/messendger.scss */
  #messendger {
    display: initial;
    padding-top: 10px;
  }
  /* line 8, D:/OpenServer/domains/Test_hhr/scss/messendger/messendger.scss */
  #messendger a {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-position-y: 4px;
  }
  /* line 15, D:/OpenServer/domains/Test_hhr/scss/messendger/messendger.scss */
  #messendger a:hover {
    zoom: 1;
  }
  /* line 21, D:/OpenServer/domains/Test_hhr/scss/messendger/messendger.scss */
  .messendger__viber {
    background: no-repeat url(/img/messedger/viber.svg) center;
    margin-top: 24px;
  }
  /* line 26, D:/OpenServer/domains/Test_hhr/scss/messendger/messendger.scss */
  .messendger__viber:hover {
    background: no-repeat url(/img/messedger/viber_hover.svg) center;
  }
  /* line 32, D:/OpenServer/domains/Test_hhr/scss/messendger/messendger.scss */
  .messendger__whathsapp {
    background: no-repeat url(/img/messedger/whathsapp.svg) center;
    margin-top: 24px;
  }
  /* line 37, D:/OpenServer/domains/Test_hhr/scss/messendger/messendger.scss */
  .messendger__whathsapp:hover {
    background: no-repeat url(/img/messedger/whathsapp_hover.svg) center;
  }
  /* line 43, D:/OpenServer/domains/Test_hhr/scss/messendger/messendger.scss */
  .messendger__tg {
    background: no-repeat url(/img/messedger/tg.svg) center;
    background-position-y: 4px;
    margin-top: 24px;
  }
  /* line 49, D:/OpenServer/domains/Test_hhr/scss/messendger/messendger.scss */
  .messendger__tg:hover {
    background: no-repeat url(/img/messedger/tg_hover.svg) center;
  }
  /* -Block <#messendger> - finish */
  /* -Block <#messendger> status - start */
  /* line 71, D:/OpenServer/domains/Test_hhr/scss/messendger/messendger.scss */
  .messendger__status {
    display: inline-block;
    height: 4px;
    width: 4px;
    padding: 0;
    margin: 5px 0 0 0;
    position: relative;
    z-index: 1;
  }
  /* line 82, D:/OpenServer/domains/Test_hhr/scss/messendger/messendger.scss */
  .messendger__status p {
    font-weight: 400;
    font-size: 12px;
    position: absolute;
    top: -5px;
    left: 13px;
    z-index: 2;
    letter-spacing: 0.7px;
  }
  /* line 98, D:/OpenServer/domains/Test_hhr/scss/messendger/messendger.scss */
  .status.messendger__status_ofline::after {
    content: 'офлайн';
    display: inline-block;
    font-size: inherit;
    font-weight: 400;
    position: absolute;
    z-index: 2;
    top: -7px;
    left: 85px;
  }
  /* line 113, D:/OpenServer/domains/Test_hhr/scss/messendger/messendger.scss */
  .status.messendger__status_ofline::before {
    content: "";
    font-size: 1px;
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: #F38120;
    position: absolute;
    top: 0;
  }
  /* line 129, D:/OpenServer/domains/Test_hhr/scss/messendger/messendger.scss */
  .status.messendger__status_online::after {
    content: 'онлайн';
    display: inline-block;
    font-size: inherit;
    font-weight: 700;
    position: absolute;
    z-index: 2;
    top: -7px;
    left: 85px;
  }
  /* line 140, D:/OpenServer/domains/Test_hhr/scss/messendger/messendger.scss */
  .status.messendger__status_online .status__text_ofline {
    display: none;
  }
  /* line 144, D:/OpenServer/domains/Test_hhr/scss/messendger/messendger.scss */
  .status.messendger__status_online::before {
    content: "";
    font-size: 1px;
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: #12C868;
    position: absolute;
    top: 0;
  }
  /* -Block <#messendger> - finish */
  /* -Block <#messendger> - finish */
  /* -block <address> in the <Heard> - start */
  /* line 311, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  address {
    width: 240px;
  }
  /* line 313, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  address time {
    font-size: 0.85715em;
  }
  /* line 318, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  .header_data__phone a {
    font-size: 22px;
  }
  /* line 323, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  .header_data__callForm {
    padding-top: 16px;
  }
  /* line 325, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  .header_data__callForm a {
    font-size: 0.85715em;
  }
  /* -block <address> in the <Heard> - finish */
}

@media screen and (min-width: 1570px) {
  /* Block meta-data in the <Heard> - start */
  /* line 337, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  .header_data {
    -webkit-column-gap: 7.4%;
       -moz-column-gap: 7.4%;
            column-gap: 7.4%;
  }
  /* Block meta-data in the <Heard> - finish */
}

/* Block <aside> - start */
/* line 4, D:/OpenServer/domains/Test_hhr/scss/aside/aside.scss */
aside {
  width: 225px;
  display: inline-block;
  position: absolute;
  z-index: 3;
  right: calc(100% / 2 - 112.5px);
  bottom: 0;
}

/* line 12, D:/OpenServer/domains/Test_hhr/scss/aside/aside.scss */
aside section {
  position: relative;
}

/* line 15, D:/OpenServer/domains/Test_hhr/scss/aside/aside.scss */
aside section div:first-child {
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 5px;
}

/* line 23, D:/OpenServer/domains/Test_hhr/scss/aside/aside.scss */
aside section li {
  display: block;
  background-color: #fff;
  position: relative;
  padding: 23px 54px 22px 17px;
  display: none;
  width: 217px;
}

/* line 33, D:/OpenServer/domains/Test_hhr/scss/aside/aside.scss */
aside section li:after {
  content: '';
  display: inline-block;
  width: 50%;
  height: 1px;
  -webkit-box-shadow: 0 1px 0px #edf2f5;
          box-shadow: 0 1px 0px #edf2f5;
  border: 0;
  border-top: 3px #EDF2F5 solid;
  position: absolute;
  bottom: 0px;
  right: 25%;
  z-index: 2;
}

/* line 50, D:/OpenServer/domains/Test_hhr/scss/aside/aside.scss */
aside section li:first-child {
  border-radius: 20px 20px 0 0;
  -webkit-clip-path: polygon(0 0, 98.6% 15px, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 98.6% 15px, 100% 100%, 0 100%);
  display: inline-block;
}

/* line 55, D:/OpenServer/domains/Test_hhr/scss/aside/aside.scss */
aside section li:last-child {
  border-radius: 0 0 20px 20px;
}

/* line 62, D:/OpenServer/domains/Test_hhr/scss/aside/aside.scss */
.pulse {
  margin: 10px;
  display: block;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background: #F38120;
  cursor: pointer;
  -webkit-box-shadow: 0 0 0 rgba(243, 131, 32, 0.4);
          box-shadow: 0 0 0 rgba(243, 131, 32, 0.4);
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
  position: relative;
}

/* line 74, D:/OpenServer/domains/Test_hhr/scss/aside/aside.scss */
.pulse::before {
  content: '+';
  width: 18px;
  height: 13px;
  color: #fff;
  font-size: 35px;
  position: absolute;
  bottom: 20px;
  right: -2px;
  z-index: 2;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(243, 131, 32, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(243, 131, 32, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(243, 131, 32, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(243, 131, 32, 0.4);
            box-shadow: 0 0 0 0 rgba(243, 131, 32, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(243, 131, 32, 0);
            box-shadow: 0 0 0 10px rgba(243, 131, 32, 0);
  }
}

/* Block <aside> - finish */
@media screen and (min-width: 1200px) {
  /* Block <aside> - start */
  /* line 118, D:/OpenServer/domains/Test_hhr/scss/aside/aside.scss */
  aside {
    position: relative;
    right: initial;
    margin-left: initial;
    margin-left: 12%;
  }
  /* line 126, D:/OpenServer/domains/Test_hhr/scss/aside/aside.scss */
  aside section li {
    width: 220px;
    line-height: 1.45;
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 30px;
  }
  /* line 133, D:/OpenServer/domains/Test_hhr/scss/aside/aside.scss */
  aside section li:first-child {
    margin-top: 0;
  }
  /* Block <aside> - finish */
}

@media screen and (min-width: 1200px) {
  /* Block <aside> - start */
  /* line 147, D:/OpenServer/domains/Test_hhr/scss/aside/aside.scss */
  aside {
    margin-left: 0.6%;
    padding-top: 100px;
  }
  /* line 153, D:/OpenServer/domains/Test_hhr/scss/aside/aside.scss */
  aside section li {
    text-align: center;
  }
  /* line 159, D:/OpenServer/domains/Test_hhr/scss/aside/aside.scss */
  .pulse {
    display: none;
  }
  /* Block <aside> - finish */
}

/* Block <Main> - start */
/* line 4, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
main {
  padding-top: 49px;
}

/* -Block h1 the title site in the <Main> */
/* line 9, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
.main__title {
  text-align: center;
  padding: 0 15px;
}

/* line 12, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
.main__title h1 {
  font-weight: 300;
  font-size: 1.29em;
  line-height: 1.6;
}

/* line 17, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
.main__title h1 mark {
  font-weight: 600;
  font-size: 1.1429em;
  background-color: rgba(243, 129, 32, 0.3);
  line-height: 1.2;
}

/* line 25, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
.main__title p {
  display: inline-block;
  padding: 7px 0 0 36px;
  font-size: 0.929em;
  font-weight: 400;
  position: relative;
}

/* line 34, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
.main__title p::before {
  content: '';
  display: inline-block;
  width: 36px;
  height: 6px;
  background: url(/img/circle.png) no-repeat 0 0px, url(/img/circle.png) no-repeat 8px 0px, url(/img/circle.png) no-repeat 16px 0px, url(/img/circle.png) no-repeat 24px 0px;
  position: absolute;
  left: 0;
  top: 11.5px;
  z-index: 2;
}

/* -Block h1 the title site in the <Main> - finish */
/* -Block questions in to the <Main> - start */
/* line 55, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
.main_questions {
  text-align: center;
  padding: 30px 50px 0;
  position: relative;
}

/* line 60, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
.main_questions:before {
  content: '';
  display: inline-block;
  width: 11px;
  height: 9px;
  position: absolute;
  right: calc(100% / 2 - 5.5px);
  top: 18px;
  z-index: 2;
  background: url(/img/ikon/ikon.svg) no-repeat center center;
}

/* line 75, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
.main_questions a {
  line-height: 1.2;
  font-size: 0.572em;
}

/* line 79, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
.main_questions a:hover {
  zoom: 1;
}

/* line 85, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
.main_questions span {
  font-weight: 600;
}

/* -Block questions in to the <Main> - finish */
/* -Block Button in the <Main> - start */
/* line 96, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
.main__buttonForm {
  text-align: center;
}

/* line 98, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
.main__buttonForm > div {
  display: inline-block;
  height: 60px;
  width: 276px;
  border-radius: 500px;
  background-position-x: calc(100% - 50px);
}

/* line 109, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
.main__buttonForm > div a {
  display: block;
  padding: 13px 44px 0;
  height: 100%;
  color: #fff;
  font-size: 0.715em;
  text-align: left;
  text-transform: uppercase;
}

/* line 120, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
.main__buttonForm > div a:hover {
  zoom: initial;
  color: #fff;
}

/* line 130, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
.main__buttonForm_green {
  background: url(/img/arrow/arrow.png) center center no-repeat, #12C868;
  margin-bottom: 13px;
}

/* line 135, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
.main__buttonForm_green:hover {
  background: url(/img/arrow/arrow.png) calc(100% - 50px) center no-repeat, rgba(18, 200, 104, 0.8);
}

/* line 141, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
.main__buttonForm .main__buttonForm_orange {
  background: url(/img/arrow/arrow.png) calc(100% - 50px) center no-repeat, #F38120;
}

/* line 145, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
.main__buttonForm .main__buttonForm_orange a {
  padding-right: 80px;
  line-height: 1.6;
}

/* line 149, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
.main__buttonForm .main__buttonForm_orange:hover {
  background: url(/img/arrow/arrow.png) calc(100% - 50px) center no-repeat, rgba(243, 129, 32, 0.8);
}

/* -Block Button in the <Main> - finish */
/* Block <Main> - finish */
@media screen and (min-width: (320, 5px)) {
  /* line 158, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
  .main_questions a {
    border-radius: 100px;
    border: 1px solid #EDF2F5;
    background-color: rgba(237, 242, 245, 0.5);
  }
}

@media screen and (min-width: 370.5px) {
  /* Block <Main> - start */
  /* line 166, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
  main {
    z-index: 2;
  }
  /* -Block h1 the title site in the <Main> -start */
  /* line 170, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
  .main__title {
    padding: 10px 0;
    border-radius: 100px;
    border: 1px solid #EDF2F5;
    background-color: rgba(237, 242, 245, 0.5);
  }
  /* line 176, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
  .main__title h1 {
    font-weight: 400;
  }
  /* -Block h1 the title site in the <Main> -finish*/
  /* -Block Button in the <Main> - start */
  /* line 185, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
  .main__buttonForm > div a {
    line-height: 1.6;
  }
  /* -Block Button in the <Main> - finish */
  /* Block <Main> - finish */
}

@media screen and (min-width: 768px) {
  /* Block <Main> - start */
  /* -Block h1 the title site in the <Main> -start */
  /* line 197, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
  .main__title {
    border: 0;
    background: none;
  }
  /* -Block h1 the title site in the <Main> -finish*/
  /* Block <Main> - finish */
}

@media screen and (min-width: 1024px) {
  /* Block <Main> - start */
  /* line 209, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
  main {
    margin: 0 auto;
  }
  /* -Block h1 the title site in the <Main> -start */
  /* line 213, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
  .main__title {
    width: 660px;
    font-size: initial;
  }
  /* line 217, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
  .main__title h1, .main__title h1 mark {
    font-size: 53px;
    line-height: 85px;
  }
  /* line 221, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
  .main__title p {
    width: 100%;
    text-align: left;
    font-size: 2.0em;
  }
  /* line 226, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
  .main__title p::before {
    top: 24.5px;
  }
  /* -Block h1 the title site in the <Main> -finish */
  /* -Block Button in the <Main> - start */
  /* line 235, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
  .main__buttonForm {
    z-index: 3;
    position: relative;
    bottom: 45px;
  }
  /* line 240, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
  div.main__buttonForm_green, div.main__buttonForm_orange {
    width: 375px;
    height: 100px;
  }
  /* line 244, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
  div.main__buttonForm_green a, div.main__buttonForm_orange a {
    font-size: inherit;
    padding-top: 28px;
  }
  /* -Block Button in the <Main> - finish */
  /* -Block questions in to the <Main> - start */
  /* line 254, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
  .main_questions {
    width: 234px;
    height: 88px;
    -index: 2;
    top: 168px;
  }
  /* line 261, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
  .main_questions::before {
    width: 22px;
    height: 18px;
    right: calc(100% - 31px);
    top: 29px;
  }
  /* -Block questions in to the <Main> - finish */
  /* Block <Main> - finish */
}

@media screen and (min-width: 1200px) {
  /* Block <Main> - start */
  /* line 275, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
  main {
    width: 870px;
    padding-top: 90px;
    margin: 0;
  }
  /* Block <Main> - finish */
  /* -Block h1 the title site in the <Main> - start */
  /* line 284, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
  .main__title {
    width: 100%;
    padding-left: 75px;
    text-align: left;
  }
  /* line 290, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
  .main__title h1,
  .main__title mark {
    letter-spacing: 1px;
  }
  /* line 295, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
  .main__title p {
    padding-left: 65px;
    padding-top: 20px;
  }
  /* line 299, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
  .main__title p::before {
    content: '';
    display: inline-block;
    width: 70px;
    height: 12px;
    background: url(/img/circle_max.png) no-repeat 0 0px;
    top: 35px;
    left: -5px;
  }
  /* -Block h1 the title site in the <Main> -finish*/
  /* -Block Button in the <Main> - start */
  /* line 313, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
  .main__buttonForm {
    text-align: left;
    padding-left: 50px;
  }
  /* line 317, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
  .main__buttonForm_green {
    margin-left: 12px;
  }
  /* line 321, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
  div.main__buttonForm_orange {
    margin-left: 15px;
    width: 332px;
  }
  /* -Block Button in the <Main> - finish */
  /* -Block questions in to the <Main> - start */
  /* line 328, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
  .main_questions {
    width: 276px;
    height: 88px;
    padding: 17px 20px 0 30px;
    line-height: 1.55;
    margin-left: 75px;
  }
  /* line 335, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
  .main_questions::before {
    zoom: 2;
    top: 4px;
    left: -10px;
  }
  /* line 340, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
  .main_questions a {
    font-size: inherit;
  }
  /* -Block questions in to the <Main> - finish */
}

@media screen and (max-device-width: 1023.98px) {
  /* line 349, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
  .main__title {
    padding: 10px 0;
    border-radius: 100px;
    border: 1px solid #EDF2F5;
    background-color: rgba(237, 242, 245, 0.5);
  }
}

@media screen and (max-device-width: 1424.98px) and (min-device-width: 320.98px) {
  /* line 361, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
  .main_questions {
    margin: 10px auto;
    border: 0;
    padding: 10px 0;
    border-radius: 100px;
    border: 1px solid #EDF2F5;
    background-color: rgba(237, 242, 245, 0.5);
    padding: 45px 10px 10px 10px;
    height: initial;
    width: 250px;
  }
  /* line 373, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
  .main_questions:before {
    width: 15px;
    height: 15px;
    top: 0;
    left: calc((100% / 2) - 7.5px);
    zoom: 3;
  }
  /* line 381, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
  .main_questions a {
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 1.2px;
  }
}

@media screen and (max-device-width: 1424.98px) and (min-device-width: 921px) and (min-device-height: 645px) {
  /* line 390, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
  .main_questions {
    top: 250px;
  }
}

@media screen and (max-device-width: 1424.98px) and (min-device-width: 921px) and (max-device-height: 644.98px) {
  /* line 397, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
  .main__buttonForm {
    top: -105px;
  }
}

/* Block <Footer> - start */
/* line 12, D:/OpenServer/domains/Test_hhr/scss/footer/footer.scss */
footer {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
}

/* line 21, D:/OpenServer/domains/Test_hhr/scss/footer/footer.scss */
footer div {
  height: 100%;
  position: relative;
}

/* line 25, D:/OpenServer/domains/Test_hhr/scss/footer/footer.scss */
footer div:after {
  content: '';
  display: block;
  height: 285px;
  width: 100%;
  background: url(/img/home/house_roof.png) no-repeat 100% 0;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

/* Block <Footer> - finish */
@media screen and (min-width: 320.5px) {
  /* Block <Footer> - start */
  /* line 49, D:/OpenServer/domains/Test_hhr/scss/footer/footer.scss */
  footer div::after {
    background: url(/img/home/house_roof_max.png) no-repeat right bottom;
    height: 100%;
    max-height: 100%;
  }
  /* Block <Footer> - finish */
}

@media screen and (min-width: 370.5px) {
  /* Block <Footer> - start */
  /* line 63, D:/OpenServer/domains/Test_hhr/scss/footer/footer.scss */
  footer {
    z-index: 0;
  }
  /* line 66, D:/OpenServer/domains/Test_hhr/scss/footer/footer.scss */
  footer div {
    height: 100%;
    width: 100%;
    max-width: 1920px;
    z-index: 1;
  }
  /* line 72, D:/OpenServer/domains/Test_hhr/scss/footer/footer.scss */
  footer div::after {
    height: 100%;
    width: 100%;
    max-width: 1920px;
    z-index: 1;
  }
  /* Block <Footer> - finish */
}

@media screen and (min-width: 1024px) {
  /* Block <Footer> - start */
  /* line 92, D:/OpenServer/domains/Test_hhr/scss/footer/footer.scss */
  footer {
    height: 100%;
  }
  /* line 94, D:/OpenServer/domains/Test_hhr/scss/footer/footer.scss */
  footer div {
    margin: 0 auto;
  }
  /* Block <Footer> - finish */
}

/* line 22, D:/OpenServer/domains/Test_hhr/scss/style.scss */
body {
  height: 100%;
  position: initial;
  display: inline-block;
}

@media only screen and (min-device-width: (320, 5px)) and (max-device-width: 370px) {
  /* line 35, D:/OpenServer/domains/Test_hhr/scss/style.scss */
  html {
    width: 100%;
    height: auto;
  }
  /* line 40, D:/OpenServer/domains/Test_hhr/scss/style.scss */
  body {
    height: 100%;
  }
}

@media only screen and (max-device-width: 650px) {
  /* line 47, D:/OpenServer/domains/Test_hhr/scss/style.scss */
  html {
    height: 100%;
  }
}

@media only screen and (max-device-height: 440px) {
  /* line 50, D:/OpenServer/domains/Test_hhr/scss/style.scss */
  html {
    height: initial;
  }
}

@media only screen and (max-device-height: 360px) {
  /* line 60, D:/OpenServer/domains/Test_hhr/scss/style.scss */
  html {
    height: auto;
  }
  /* line 61, D:/OpenServer/domains/Test_hhr/scss/style.scss */
  body {
    position: relative;
  }
  /* line 63, D:/OpenServer/domains/Test_hhr/scss/style.scss */
  div#body {
    padding-bottom: 100px;
  }
}

@media only screen and (min-device-height: 520px) {
  /* line 68, D:/OpenServer/domains/Test_hhr/scss/style.scss */
  html {
    height: 100%;
  }
}

@media only screen and (max-device-height: 628px) {
  /* line 74, D:/OpenServer/domains/Test_hhr/scss/style.scss */
  body {
    position: relative;
  }
  /* line 78, D:/OpenServer/domains/Test_hhr/scss/style.scss */
  div#body {
    padding-bottom: 100px;
  }
}

/* line 84, D:/OpenServer/domains/Test_hhr/scss/style.scss */
body {
  background-color: #EDF2F5;
}

/* line 88, D:/OpenServer/domains/Test_hhr/scss/style.scss */
#body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-bottom: 285px;
}

/* line 99, D:/OpenServer/domains/Test_hhr/scss/style.scss */
h1 {
  font-size: 24px;
}

/* line 102, D:/OpenServer/domains/Test_hhr/scss/style.scss */
a:hover {
  zoom: 1.3;
  color: #F38120;
}

/* line 107, D:/OpenServer/domains/Test_hhr/scss/style.scss */
header, main {
  z-index: 2;
}

@media screen and (min-width: 370.5px) {
  /* line 117, D:/OpenServer/domains/Test_hhr/scss/style.scss */
  #body {
    width: 100%;
    max-width: 1570px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  /* line 129, D:/OpenServer/domains/Test_hhr/scss/style.scss */
  html {
    height: auto;
  }
  /* line 132, D:/OpenServer/domains/Test_hhr/scss/style.scss */
  body {
    position: relative;
    display: inline-block;
    height: auto;
  }
  /* line 140, D:/OpenServer/domains/Test_hhr/scss/style.scss */
  #body {
    -ms-flex-line-pack: start;
        align-content: start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    flex-stretch: 1;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding-top: 0;
  }
}

@media screen and (min-width: 1700px) {
  /* line 153, D:/OpenServer/domains/Test_hhr/scss/style.scss */
  #body {
    background: repeating-linear-gradient(82deg, #fefefe, #fefefe, #fefefe, #f2f5f7, #edf2f5);
    max-width: 1920px;
    padding-left: 172px;
    padding-top: 30px;
  }
}

/* Opera  - start */
@media only screen and (min-device-width: 320.95px) and (max-device-width: 650px) and (max-device-height: 621px) {
  /* line 3, D:/OpenServer/domains/Test_hhr/scss/hacks/hacks.scss */
  html:first-child {
    height: initial;
  }
}

/* Opera  - finish */
