/* line 17, D:/OpenServer/domains/Test_hhr/scss/style.scss */
h1 {
  font-size: 24px;
}

/* line 20, D:/OpenServer/domains/Test_hhr/scss/style.scss */
a:hover {
  zoom: 1.3;
  color: #F38120;
}

/* line 24, D:/OpenServer/domains/Test_hhr/scss/style.scss */
header {
  padding: 0 22px;
  min-width: 276px;
  width: 100%;
  max-width: 320px;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  z-index: 1;
  background-color: #EDF2F5;
}

/* line 39, D:/OpenServer/domains/Test_hhr/scss/style.scss */
header heard {
  width: 100%;
}

/* menu burger - start -*/
/*  -infografika menu burger - start -*/
/* line 47, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.menu {
  padding-left: 22px;
}

/* line 51, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.menu__burger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  width: 100%;
  max-width: 20px;
  height: 15px;
  z-index: 3;
  top: 12px;
  zoom: 1.56;
}

/* line 65, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.menu__burger svg {
  height: 15px;
}

/* line 70, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  -webkit-transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* line 77, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
  width: 20px;
}

/* line 82, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
  width: 20px;
}

/* line 87, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
  width: 20px;
}

/* line 92, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -137;
  stroke-width: 6;
}

/* line 97, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.opened .line2 {
  stroke-dasharray: 0 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

/* line 102, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -137;
  stroke-width: 6;
}

/* -infografika menu burger - finish -*/
/* line 110, D:/OpenServer/domains/Test_hhr/scss/style.scss */
nav {
  top: 75px;
  right: 100%;
  position: absolute;
  width: 206px;
  border: 0;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  z-index: 2;
}

/* line 130, D:/OpenServer/domains/Test_hhr/scss/style.scss */
nav li {
  display: block;
  width: 100%;
  height: 32px;
  padding-top: 10px;
  text-align: center;
}

/* line 139, D:/OpenServer/domains/Test_hhr/scss/style.scss */
nav li a {
  font-weight: 500;
  font-size: 10px;
  line-height: 140%;
  text-transform: uppercase;
  text-style: none;
  display: block;
  height: 100%;
}

/* line 153, D:/OpenServer/domains/Test_hhr/scss/style.scss */
nav li:first-child {
  padding-top: 0;
}

/* line 155, D:/OpenServer/domains/Test_hhr/scss/style.scss */
nav li:first-child a {
  background: url(/img/home/house.svg) no-repeat center center;
}

/* line 160, D:/OpenServer/domains/Test_hhr/scss/style.scss */
nav.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* menu burger - finish -*/
/* Block meta-data in the <Heard> - start */
/* line 166, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.header_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

/* line 175, D:/OpenServer/domains/Test_hhr/scss/style.scss */
#slogan, #offer, #messendgers {
  display: none;
}

/* line 180, D:/OpenServer/domains/Test_hhr/scss/style.scss */
#logo {
  display: inline-block;
  width: 75px;
  height: 52px;
  background: url(/img/logo/backg.png) no-repeat center center;
  background-size: 75px 52px;
  z-index: 1;
}

/* line 189, D:/OpenServer/domains/Test_hhr/scss/style.scss */
#logo a {
  display: block;
  height: 100%;
  background: url(/img/logo/logo.png) no-repeat center center;
  background-size: 51.46px 21.35px;
  z-index: 2;
}

/* line 198, D:/OpenServer/domains/Test_hhr/scss/style.scss */
#logo a:hover {
  zoom: 1;
}

/* line 204, D:/OpenServer/domains/Test_hhr/scss/style.scss */
address {
  display: inline-block;
  font-size: 1.1429em;
  height: 52px;
  width: 155px;
  padding: 10px 0 0 22px;
}

/* line 213, D:/OpenServer/domains/Test_hhr/scss/style.scss */
address time {
  font-size: 7px;
  line-height: 9px;
  font-weight: 400;
  letter-spacing: -0.03em;
}

/* line 219, D:/OpenServer/domains/Test_hhr/scss/style.scss */
address time[datetime=workday] {
  padding-left: 12px;
}

/* line 223, D:/OpenServer/domains/Test_hhr/scss/style.scss */
address time[datetime=workday], address time[datetime=weekends] {
  font-weight: 700;
}

/* line 231, D:/OpenServer/domains/Test_hhr/scss/style.scss */
address div {
  font-weight: 600;
  line-height: 14px;
}

/* line 237, D:/OpenServer/domains/Test_hhr/scss/style.scss */
address div a {
  font-style: normal;
  letter-spacing: 0.4px;
}

/* line 241, D:/OpenServer/domains/Test_hhr/scss/style.scss */
address div a:hover {
  zoom: 1;
}

/* line 249, D:/OpenServer/domains/Test_hhr/scss/style.scss */
address time[datetime="workday"]::before {
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  left: 0;
  position: absolute;
  border-radius: 5px;
  background: #12C868;
  z-index: 2;
}

/* -block phone number in the <Heard> - start */
/* line 265, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.header_data__callForm {
  padding-top: 4px;
  text-align: center;
}

/* line 268, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.header_data__callForm a {
  display: inline-block;
  font-size: 0.715em;
  color: #12C868;
  position: relative;
}

/* line 275, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.header_data__callForm a::after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  border: 0;
  border-bottom: 2px #12C868 dotted;
  position: absolute;
  bottom: -6px;
}

/* -block phone number in the <Heard> - finish */
/* Block meta-data in the <Heard> - finish */
