/* menu burger - start -*/
/*  -infografika menu burger - start -*/
/* line 6, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
.menu {
  padding-left: 22px;
}

/* line 10, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
.menu__burger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  width: 100%;
  max-width: 20px;
  height: 15px;
  z-index: 3;
  top: 12px;
  zoom: 1.56;
}

/* line 24, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
.menu__burger svg {
  height: 15px;
}

/* line 29, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  -webkit-transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* line 36, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
  width: 20px;
}

/* line 41, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
  width: 20px;
}

/* line 46, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
  width: 20px;
}

/* line 51, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -137;
  stroke-width: 6;
}

/* line 56, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
.opened .line2 {
  stroke-dasharray: 0 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

/* line 61, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -137;
  stroke-width: 6;
}

/* -infografika menu burger - finish -*/
/* line 69, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
nav {
  top: 75px;
  right: 100%;
  position: absolute;
  width: 206px;
  border: 0;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  z-index: 2;
}

/* line 89, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
nav li {
  display: block;
  width: 100%;
  height: 32px;
  padding-top: 10px;
  text-align: center;
}

/* line 98, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
nav li a {
  font-weight: 500;
  font-size: 10px;
  line-height: 140%;
  text-transform: uppercase;
  text-style: none;
  display: block;
  height: 100%;
}

/* line 112, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
nav li:first-child {
  padding-top: 0;
}

/* line 114, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
nav li:first-child a {
  background: url(/img/home/house.svg) no-repeat center center;
}

/* line 119, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
nav.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* menu burger - finish -*/
@media screen and (min-width: 370.5px) {
  /* menu burger - start -*/
  /*  -infografika menu burger - start */
  /* line 128, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
  .menu {
    padding-top: 10px;
    width: 100%;
  }
  /* line 132, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
  .menu__burger {
    display: none;
  }
  /*  -infografika menu burger - finis */
  /* line 137, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
  nav {
    position: relative;
    top: initial;
    right: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    flex-stretch: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 7.5%;
       -moz-column-gap: 7.5%;
            column-gap: 7.5%;
    width: 100%;
  }
  /* line 150, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
  nav li {
    display: inline-block;
    width: initial;
    height: 20px;
    padding-top: 5px;
  }
  /* line 156, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
  nav li a:hover {
    zoom: initial;
  }
  /* line 161, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
  nav li:first-child {
    width: 25px;
  }
}

/* menu burger - finis */
/* Block meta-data in the <Heard> - start */
/* line 20, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
header {
  padding: 0 22px;
  padding-bottom: 20px;
  min-width: 276px;
  width: 100%;
  max-width: 320px;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  z-index: 1;
  background-color: #EDF2F5;
}

/* line 37, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
header heard {
  width: 100%;
}

/* line 44, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
.header_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

/* line 53, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
#slogan, #offer, #messendgers {
  display: none;
}

/* line 58, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
#logo {
  display: inline-block;
  width: 75px;
  height: 52px;
  background: url(/img/logo/backg.png) no-repeat center center;
  background-size: 75px 52px;
  z-index: 1;
}

/* line 67, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
#logo a {
  display: block;
  height: 100%;
  background: url(/img/logo/logo.png) no-repeat center center;
  background-size: 51.46px 21.35px;
  z-index: 2;
}

/* line 76, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
#logo a:hover {
  zoom: 1;
}

/* line 82, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
address {
  display: inline-block;
  font-size: 1.1429em;
  height: 52px;
  width: 155px;
  padding: 10px 0 0 22px;
}

/* line 91, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
address time {
  font-size: 7px;
  line-height: 9px;
  font-weight: 400;
  letter-spacing: -0.03em;
}

/* line 97, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
address time[datetime=workday] {
  padding-left: 12px;
}

/* line 101, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
address time[datetime=workday], address time[datetime=weekends] {
  font-weight: 700;
}

/* line 109, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
address div {
  font-weight: 600;
  line-height: 14px;
}

/* line 115, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
address div a {
  font-style: normal;
  letter-spacing: 0.4px;
}

/* line 119, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
address div a:hover {
  zoom: 1;
}

/* line 127, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
address time[datetime="workday"]::before {
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  left: 0;
  position: absolute;
  border-radius: 5px;
  background: #12C868;
  z-index: 2;
}

/* -block phone number in the <Heard> - start */
/* line 143, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
.header_data__callForm {
  padding-top: 4px;
  text-align: center;
}

/* line 146, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
.header_data__callForm a {
  display: inline-block;
  font-size: 0.715em;
  color: #12C868;
  position: relative;
}

/* line 153, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
.header_data__callForm a:hove {
  color: #F38120;
}

/* line 156, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
.header_data__callForm a::after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  border: 0;
  border-bottom: 2px #12C868 dotted;
  position: absolute;
  bottom: -6px;
}

/* -block phone number in the <Heard> - finish */
/* Block meta-data in the <Heard> - finish */
@media screen and (min-width: 370.5px) {
  /* line 177, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  header, main {
    z-index: 2;
  }
  /* line 180, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 1920px;
    height: initial;
    background: none;
    padding-bottom: 20px;
    padding-left: 9.1%;
    padding-right: 9.1%;
  }
  /* Block meta-data in the <Heard> - start */
  /* line 193, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  .header_data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 5%;
       -moz-column-gap: 5%;
            column-gap: 5%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  /* Block <Main> - start */
  /* -Block h1 the title site in the <Main> -start */
  /* line 203, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  .main__title {
    padding: 10px 0;
    border-radius: 100px;
    border: 1px solid #EDF2F5;
    background-color: rgba(237, 242, 245, 0.5);
  }
  /* line 209, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  .main__title h1 {
    font-weight: 400;
  }
  /* -Block h1 the title site in the <Main> -finish*/
  /* -Block Button in the <Main> - start */
  /* line 218, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  .main__buttonForm > div a {
    line-height: 1.6;
  }
  /* -Block Button in the <Main> - finish */
  /* Block <Main> - finish */
  /* -Block <#offer> - start */
  /* line 228, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  #offer {
    padding-top: 20px;
    display: inline-block;
  }
  /* line 232, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  #offer a {
    padding-left: 25px;
    font-weight: 600;
    font-size: 0.85715em;
    background: none;
    z-index: 2;
  }
  /* line 238, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  #offer a:hover {
    zoom: initial;
  }
  /* line 242, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  #offer a::before {
    content: 'Pdf';
    display: inline;
    color: #12C868;
    position: absolute;
    left: 0;
    z-index: 1;
  }
  /* -Block <#offer> - finish */
  /* Block meta-data in the <Heard> - finish */
}

@media screen and (min-width: 1024px) {
  /* Block meta-data in the <Heard> - start */
  /* line 260, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  header {
    width: 100%;
  }
  /* line 264, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  #logo {
    width: 188px;
    height: 78px;
    background: none;
  }
  /* line 269, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  #logo a {
    background: url(/img/logo/logo_max.png) no-repeat center center;
    background-size: 188px 78px;
  }
  /* Block meta-data in the <Heard> - flash */
  /* Block meta-data in the <Heard> - start */
  /* line 278, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  #slogan {
    display: block;
    width: 205px;
    height: 92px;
  }
  /* line 282, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  #slogan p {
    font-size: 0.85715em;
  }
  /* Block meta-data in the <Heard> - finish */
}

/* Block <aside> - start */
/* line 21, D:/OpenServer/domains/Test_hhr/scss/aside/aside.scss */
aside {
  width: 225px;
  display: inline-block;
  position: absolute;
  z-index: 3;
  right: calc(100% / 2 - 112.5px);
  bottom: 0;
}

/* line 29, D:/OpenServer/domains/Test_hhr/scss/aside/aside.scss */
aside section {
  position: relative;
}

/* line 32, D:/OpenServer/domains/Test_hhr/scss/aside/aside.scss */
aside section div:first-child {
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 5px;
}

/* line 40, D:/OpenServer/domains/Test_hhr/scss/aside/aside.scss */
aside section li {
  display: block;
  background-color: #fff;
  position: relative;
  padding: 23px 54px 22px 17px;
  display: none;
  width: 217px;
}

/* line 50, D:/OpenServer/domains/Test_hhr/scss/aside/aside.scss */
aside section li:after {
  content: '';
  display: inline-block;
  width: 50%;
  height: 1px;
  -webkit-box-shadow: 0 1px 0px #edf2f5;
          box-shadow: 0 1px 0px #edf2f5;
  border: 0;
  border-top: 3px #EDF2F5 solid;
  position: absolute;
  bottom: 0px;
  right: 25%;
  z-index: 2;
}

/* line 67, D:/OpenServer/domains/Test_hhr/scss/aside/aside.scss */
aside section li:first-child {
  border-radius: 20px 20px 0 0;
  -webkit-clip-path: polygon(0 0, 98.6% 15px, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 98.6% 15px, 100% 100%, 0 100%);
  display: inline-block;
}

/* line 72, D:/OpenServer/domains/Test_hhr/scss/aside/aside.scss */
aside section li:last-child {
  border-radius: 0 0 20px 20px;
}

/* line 79, D:/OpenServer/domains/Test_hhr/scss/aside/aside.scss */
.pulse {
  margin: 10px;
  display: block;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background: #F38120;
  cursor: pointer;
  -webkit-box-shadow: 0 0 0 rgba(243, 131, 32, 0.4);
          box-shadow: 0 0 0 rgba(243, 131, 32, 0.4);
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
  position: relative;
}

/* line 91, D:/OpenServer/domains/Test_hhr/scss/aside/aside.scss */
.pulse::before {
  content: '+';
  width: 18px;
  height: 13px;
  color: #fff;
  font-size: 35px;
  position: absolute;
  bottom: 20px;
  right: -2px;
  z-index: 2;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(243, 131, 32, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(243, 131, 32, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(243, 131, 32, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(243, 131, 32, 0.4);
            box-shadow: 0 0 0 0 rgba(243, 131, 32, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(243, 131, 32, 0);
            box-shadow: 0 0 0 10px rgba(243, 131, 32, 0);
  }
}

/* Block <aside> - finish */
@media screen and (min-width: 1200px) {
  /* Block <aside> - start */
  /* line 135, D:/OpenServer/domains/Test_hhr/scss/aside/aside.scss */
  aside {
    position: relative;
    right: initial;
    margin-left: initial;
    margin-right: calc(100% - 175px);
  }
  /* line 143, D:/OpenServer/domains/Test_hhr/scss/aside/aside.scss */
  aside section li {
    display: inline-block;
  }
}

/* Block <aside> - finish */
/* Block <Main> - start */
/* line 22, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
main {
  padding-top: 49px;
}

/* -Block h1 the title site in the <Main> */
/* line 27, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
.main__title {
  text-align: center;
  padding: 0 15px;
}

/* line 30, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
.main__title h1 {
  font-weight: 300;
  font-size: 1.29em;
  line-height: 1.6;
}

/* line 35, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
.main__title h1 mark {
  font-weight: 600;
  font-size: 1.1429em;
  background-color: rgba(243, 129, 32, 0.3);
  line-height: 1.2;
}

/* line 43, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
.main__title p {
  display: inline-block;
  padding: 7px 0 0 36px;
  font-size: 0.929em;
  font-weight: 400;
  position: relative;
}

/* line 52, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
.main__title p::before {
  content: '';
  display: inline-block;
  width: 36px;
  height: 6px;
  background: url(/img/circle.png) no-repeat 0 0px, url(/img/circle.png) no-repeat 8px 0px, url(/img/circle.png) no-repeat 16px 0px, url(/img/circle.png) no-repeat 24px 0px;
  position: absolute;
  left: 0;
  top: 11.5px;
  z-index: 2;
}

/* -Block h1 the title site in the <Main> - finish */
/* -Block questions in to the <Main> - start */
/* line 73, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
.main_questions {
  text-align: center;
  padding: 30px 50px 0;
  position: relative;
}

/* line 78, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
.main_questions:before {
  content: '';
  display: inline-block;
  width: 11px;
  height: 9px;
  position: absolute;
  right: calc(100% / 2 - 5.5px);
  top: 18px;
  z-index: 2;
  background: url(/img/ikon/ikon.svg) no-repeat center center;
}

/* line 93, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
.main_questions a {
  line-height: 1.2;
  font-size: 0.572em;
}

/* line 97, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
.main_questions a:hover {
  zoom: 1;
}

/* line 103, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
.main_questions span {
  font-weight: 600;
}

/* -Block questions in to the <Main> - finish */
/* -Block Button in the <Main> - start */
/* line 114, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
.main__buttonForm {
  text-align: center;
}

/* line 116, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
.main__buttonForm > div {
  display: inline-block;
  height: 60px;
  width: 276px;
  border-radius: 500px;
  background-position-x: calc(100% - 50px);
}

/* line 127, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
.main__buttonForm > div a {
  display: block;
  padding: 13px 44px 0;
  height: 100%;
  color: #fff;
  font-size: 0.715em;
  text-align: left;
  text-transform: uppercase;
}

/* line 138, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
.main__buttonForm > div a:hover {
  zoom: initial;
  color: #fff;
}

/* line 148, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
.main__buttonForm_green {
  background: url(/img/arrow/arrow.png) center center no-repeat, #12C868;
  margin-bottom: 13px;
}

/* line 153, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
.main__buttonForm_green:hover {
  background: url(/img/arrow/arrow.png) calc(100% - 50px) center no-repeat, rgba(18, 200, 104, 0.8);
}

/* line 159, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
.main__buttonForm .main__buttonForm_orange {
  background: url(/img/arrow/arrow.png) calc(100% - 50px) center no-repeat, #F38120;
}

/* line 163, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
.main__buttonForm .main__buttonForm_orange a {
  padding-right: 80px;
  line-height: 1.6;
}

/* line 167, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
.main__buttonForm .main__buttonForm_orange:hover {
  background: url(/img/arrow/arrow.png) calc(100% - 50px) center no-repeat, rgba(243, 129, 32, 0.8);
}

/* -Block Button in the <Main> - finish */
/* Block <Main> - finish */
@media screen and (min-width: 768px) {
  /* Block <Main> - start */
  /* -Block h1 the title site in the <Main> -start */
  /* line 178, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
  .main__title {
    border: 0;
    background: none;
  }
  /* -Block h1 the title site in the <Main> -finish*/
  /* Block <Main> - finish */
}

@media screen and (min-width: 1024px) {
  /* Block <Main> - start */
  /* line 190, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
  main {
    margin: 0 auto;
  }
  /* -Block h1 the title site in the <Main> -start */
  /* line 194, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
  .main__title {
    width: 660px;
    font-size: initial;
  }
  /* line 198, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
  .main__title h1, .main__title h1 mark {
    font-size: 53px;
    line-height: 85px;
  }
  /* line 202, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
  .main__title p {
    width: 100%;
    text-align: left;
    font-size: 2.0em;
  }
  /* line 207, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
  .main__title p::before {
    top: 24.5px;
  }
  /* -Block h1 the title site in the <Main> -finish */
  /* -Block Button in the <Main> - start */
  /* line 216, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
  .main__buttonForm {
    z-index: 3;
    position: relative;
    bottom: 45px;
  }
  /* line 221, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
  div.main__buttonForm_green, div.main__buttonForm_orange {
    width: 375px;
    height: 100px;
  }
  /* line 225, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
  div.main__buttonForm_green a, div.main__buttonForm_orange a {
    font-size: inherit;
    padding-top: 28px;
  }
  /* -Block Button in the <Main> - finish */
  /* -Block questions in to the <Main> - start */
  /* line 235, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
  .main_questions {
    width: 234px;
    height: 88px;
    -index: 2;
    top: 168px;
  }
  /* line 242, D:/OpenServer/domains/Test_hhr/scss/main/main.scss */
  .main_questions::before {
    width: 22px;
    height: 18px;
    right: calc(100% - 31px);
    top: 29px;
  }
  /* -Block questions in to the <Main> - finish */
  /* Block <Main> - finish */
}

/* Block <Footer> - start */
/* line 20, D:/OpenServer/domains/Test_hhr/scss/footer/footer.scss */
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

/* line 28, D:/OpenServer/domains/Test_hhr/scss/footer/footer.scss */
footer div {
  height: 285px;
  position: relative;
}

/* line 31, D:/OpenServer/domains/Test_hhr/scss/footer/footer.scss */
footer div:after {
  content: '';
  display: block;
  height: 285px;
  width: 100%;
  background: url(/img/home/house_roof.png) no-repeat 100% 0;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

/* Block <Footer> - finish */
@media screen and (min-width: 370.5px) {
  /* Block <Footer> - start */
  /* line 52, D:/OpenServer/domains/Test_hhr/scss/footer/footer.scss */
  footer {
    height: inherit;
    z-index: 0;
  }
  /* line 55, D:/OpenServer/domains/Test_hhr/scss/footer/footer.scss */
  footer div {
    height: 100%;
    width: 100%;
    max-width: 1570px;
    z-index: 1;
  }
  /* line 61, D:/OpenServer/domains/Test_hhr/scss/footer/footer.scss */
  footer div::after {
    height: 100%;
    width: 100%;
    max-width: 1570px;
    z-index: 1;
    background: url(/img/home/house_roof_max.png) no-repeat 100% 0;
    background-size: cover;
  }
  /* Block <Footer> - finish */
}

@media screen and (min-width: 1024px) {
  /* Block <Footer> - start */
  /* line 83, D:/OpenServer/domains/Test_hhr/scss/footer/footer.scss */
  footer div {
    margin: 0 auto;
  }
  /* Block <Footer> - finish */
}

/* line 28, D:/OpenServer/domains/Test_hhr/scss/style.scss */
body {
  background-color: #EDF2F5;
}

/* line 33, D:/OpenServer/domains/Test_hhr/scss/style.scss */
#body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-bottom: 285px;
}

/* line 44, D:/OpenServer/domains/Test_hhr/scss/style.scss */
h1 {
  font-size: 24px;
}

/* line 47, D:/OpenServer/domains/Test_hhr/scss/style.scss */
a:hover {
  zoom: 1.3;
  color: #F38120;
}

/* line 52, D:/OpenServer/domains/Test_hhr/scss/style.scss */
header, main {
  z-index: 2;
}

@media screen and (min-width: 370.5px) {
  /* line 57, D:/OpenServer/domains/Test_hhr/scss/style.scss */
  #body {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
  }
  /* line 63, D:/OpenServer/domains/Test_hhr/scss/style.scss */
  header, main {
    z-index: 2;
  }
}

@media screen and (min-width: 1024px) {
  /* line 74, D:/OpenServer/domains/Test_hhr/scss/style.scss */
  #body {
    -ms-flex-line-pack: start;
        align-content: start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    flex-stretch: 1;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
