/* line 17, D:/OpenServer/domains/Test_hhr/scss/style.scss */

body {
  background-color: #EDF2F5;
}

/* line 20, D:/OpenServer/domains/Test_hhr/scss/style.scss */

h1 {
  font-size: 24px;
}

/* line 23, D:/OpenServer/domains/Test_hhr/scss/style.scss */

a:hover {
  zoom: 1.3;
  color: #F38120;
}

/* line 27, D:/OpenServer/domains/Test_hhr/scss/style.scss */

header {
  padding: 0 22px;
  min-width: 276px;
  width: 100%;
  max-width: 320px;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  z-index: 1;
  background-color: #EDF2F5;
}

/* line 42, D:/OpenServer/domains/Test_hhr/scss/style.scss */

header heard {
  width: 100%;
}

/* menu burger - start -*/

/*  -infografika menu burger - start -*/

/* line 50, D:/OpenServer/domains/Test_hhr/scss/style.scss */

.menu {
  padding-left: 22px;
}

/* line 54, D:/OpenServer/domains/Test_hhr/scss/style.scss */

.menu__burger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  width: 100%;
  max-width: 20px;
  height: 15px;
  z-index: 3;
  top: 12px;
  zoom: 1.56;
}

/* line 68, D:/OpenServer/domains/Test_hhr/scss/style.scss */

.menu__burger svg {
  height: 15px;
}

/* line 73, D:/OpenServer/domains/Test_hhr/scss/style.scss */

.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  -webkit-transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* line 80, D:/OpenServer/domains/Test_hhr/scss/style.scss */

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
  width: 20px;
}

/* line 85, D:/OpenServer/domains/Test_hhr/scss/style.scss */

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
  width: 20px;
}

/* line 90, D:/OpenServer/domains/Test_hhr/scss/style.scss */

.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
  width: 20px;
}

/* line 95, D:/OpenServer/domains/Test_hhr/scss/style.scss */

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -137;
  stroke-width: 6;
}

/* line 100, D:/OpenServer/domains/Test_hhr/scss/style.scss */

.opened .line2 {
  stroke-dasharray: 0 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

/* line 105, D:/OpenServer/domains/Test_hhr/scss/style.scss */

.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -137;
  stroke-width: 6;
}

/* -infografika menu burger - finish -*/

/* line 113, D:/OpenServer/domains/Test_hhr/scss/style.scss */

nav {
  top: 75px;
  right: 100%;
  position: absolute;
  width: 206px;
  border: 0;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  z-index: 2;
}

/* line 133, D:/OpenServer/domains/Test_hhr/scss/style.scss */

nav li {
  display: block;
  width: 100%;
  height: 32px;
  padding-top: 10px;
  text-align: center;
}

/* line 142, D:/OpenServer/domains/Test_hhr/scss/style.scss */

nav li a {
  font-weight: 500;
  font-size: 10px;
  line-height: 140%;
  text-transform: uppercase;
  text-style: none;
  display: block;
  height: 100%;
}

/* line 156, D:/OpenServer/domains/Test_hhr/scss/style.scss */

nav li:first-child {
  padding-top: 0;
}

/* line 158, D:/OpenServer/domains/Test_hhr/scss/style.scss */

nav li:first-child a {
  background: url(/img/home/house.svg) no-repeat center center;
}

/* line 163, D:/OpenServer/domains/Test_hhr/scss/style.scss */

nav.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* menu burger - finish -*/

/* Block meta-data in the <Heard> - start */

/* line 169, D:/OpenServer/domains/Test_hhr/scss/style.scss */

.header_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

/* line 178, D:/OpenServer/domains/Test_hhr/scss/style.scss */

#slogan, #offer, #messendgers {
  display: none;
}

/* line 183, D:/OpenServer/domains/Test_hhr/scss/style.scss */

#logo {
  display: inline-block;
  width: 75px;
  height: 52px;
  background: url(/img/logo/backg.png) no-repeat center center;
  background-size: 75px 52px;
  z-index: 1;
}

/* line 192, D:/OpenServer/domains/Test_hhr/scss/style.scss */

#logo a {
  display: block;
  height: 100%;
  background: url(/img/logo/logo.png) no-repeat center center;
  background-size: 51.46px 21.35px;
  z-index: 2;
}

/* line 201, D:/OpenServer/domains/Test_hhr/scss/style.scss */

#logo a:hover {
  zoom: 1;
}

/* line 207, D:/OpenServer/domains/Test_hhr/scss/style.scss */

address {
  display: inline-block;
  font-size: 1.1429em;
  height: 52px;
  width: 155px;
  padding: 10px 0 0 22px;
}

/* line 216, D:/OpenServer/domains/Test_hhr/scss/style.scss */

address time {
  font-size: 7px;
  line-height: 9px;
  font-weight: 400;
  letter-spacing: -0.03em;
}

/* line 222, D:/OpenServer/domains/Test_hhr/scss/style.scss */

address time[datetime=workday] {
  padding-left: 12px;
}

/* line 226, D:/OpenServer/domains/Test_hhr/scss/style.scss */

address time[datetime=workday], address time[datetime=weekends] {
  font-weight: 700;
}

/* line 234, D:/OpenServer/domains/Test_hhr/scss/style.scss */

address div {
  font-weight: 600;
  line-height: 14px;
}

/* line 240, D:/OpenServer/domains/Test_hhr/scss/style.scss */

address div a {
  font-style: normal;
  letter-spacing: 0.4px;
}

/* line 244, D:/OpenServer/domains/Test_hhr/scss/style.scss */

address div a:hover {
  zoom: 1;
}

/* line 252, D:/OpenServer/domains/Test_hhr/scss/style.scss */

address time[datetime="workday"]::before {
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  left: 0;
  position: absolute;
  border-radius: 5px;
  background: #12C868;
  z-index: 2;
}

/* -block phone number in the <Heard> - start */

/* line 268, D:/OpenServer/domains/Test_hhr/scss/style.scss */

.header_data__callForm {
  padding-top: 4px;
  text-align: center;
}

/* line 271, D:/OpenServer/domains/Test_hhr/scss/style.scss */

.header_data__callForm a {
  display: inline-block;
  font-size: 0.715em;
  color: #12C868;
  position: relative;
}

/* line 278, D:/OpenServer/domains/Test_hhr/scss/style.scss */

.header_data__callForm a::after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  border: 0;
  border-bottom: 2px #12C868 dotted;
  position: absolute;
  bottom: -6px;
}

/* -block phone number in the <Heard> - finish */

/* Block meta-data in the <Heard> - finish */

/* Block <aside> - start */

/* line 297, D:/OpenServer/domains/Test_hhr/scss/style.scss */

aside {
  background-color: none;
  width: 225px;
}

/* line 303, D:/OpenServer/domains/Test_hhr/scss/style.scss */

aside section li {
  display: block;
  background-color: #fff;
  position: relative;
}

/* line 308, D:/OpenServer/domains/Test_hhr/scss/style.scss */

aside section li:after {
  content: '';
  display: inline-block;
  width: 50%;
  height: 1px;
  border: 0;
  border-top: 1px #EDF2F5 solid;
  border-shadow: 2px;
  position: absolute;
  z-index: 2;
}

/* line 326, D:/OpenServer/domains/Test_hhr/scss/style.scss */

.pulse {
  margin: 10px;
  display: block;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background: #F38120;
  cursor: pointer;
  -webkit-box-shadow: 0 0 0 rgba(243, 131, 32, 0.4);
          box-shadow: 0 0 0 rgba(243, 131, 32, 0.4);
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
  position: relative;
}

/* line 338, D:/OpenServer/domains/Test_hhr/scss/style.scss */

.pulse::before {
  content: '+';
  width: 18px;
  height: 13px;
  color: #fff;
  font-size: 35px;
  position: absolute;
  bottom: 20px;
  right: -2px;
  z-index: 2;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(243, 131, 32, 0.4);
  }

  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(243, 131, 32, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(243, 131, 32, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(243, 131, 32, 0.4);
            box-shadow: 0 0 0 0 rgba(243, 131, 32, 0.4);
  }

  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(243, 131, 32, 0);
            box-shadow: 0 0 0 10px rgba(243, 131, 32, 0);
  }
}

/* Block <aside> - finish */
