/* line 22, D:/OpenServer/domains/Test_hhr/scss/style.scss */
body {
  background-color: #EDF2F5;
}

/* line 27, D:/OpenServer/domains/Test_hhr/scss/style.scss */
#body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-bottom: 285px;
}

/* line 38, D:/OpenServer/domains/Test_hhr/scss/style.scss */
h1 {
  font-size: 24px;
}

/* line 41, D:/OpenServer/domains/Test_hhr/scss/style.scss */
a:hover {
  zoom: 1.3;
  color: #F38120;
}

/* line 46, D:/OpenServer/domains/Test_hhr/scss/style.scss */
header, main {
  z-index: 2;
}

/* line 50, D:/OpenServer/domains/Test_hhr/scss/style.scss */
header {
  padding: 0 22px;
  padding-bottom: 20px;
  min-width: 276px;
  width: 100%;
  max-width: 320px;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  z-index: 1;
  background-color: #EDF2F5;
}

/* line 67, D:/OpenServer/domains/Test_hhr/scss/style.scss */
header heard {
  width: 100%;
}

/* menu burger - start -*/
/*  -infografika menu burger - start -*/
/* line 75, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.menu {
  padding-left: 22px;
}

/* line 79, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.menu__burger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  width: 100%;
  max-width: 20px;
  height: 15px;
  z-index: 3;
  top: 12px;
  zoom: 1.56;
}

/* line 93, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.menu__burger svg {
  height: 15px;
}

/* line 98, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  -webkit-transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* line 105, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
  width: 20px;
}

/* line 110, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
  width: 20px;
}

/* line 115, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
  width: 20px;
}

/* line 120, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -137;
  stroke-width: 6;
}

/* line 125, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.opened .line2 {
  stroke-dasharray: 0 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

/* line 130, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -137;
  stroke-width: 6;
}

/* -infografika menu burger - finish -*/
/* line 138, D:/OpenServer/domains/Test_hhr/scss/style.scss */
nav {
  top: 75px;
  right: 100%;
  position: absolute;
  width: 206px;
  border: 0;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  z-index: 2;
}

/* line 158, D:/OpenServer/domains/Test_hhr/scss/style.scss */
nav li {
  display: block;
  width: 100%;
  height: 32px;
  padding-top: 10px;
  text-align: center;
}

/* line 167, D:/OpenServer/domains/Test_hhr/scss/style.scss */
nav li a {
  font-weight: 500;
  font-size: 10px;
  line-height: 140%;
  text-transform: uppercase;
  text-style: none;
  display: block;
  height: 100%;
}

/* line 181, D:/OpenServer/domains/Test_hhr/scss/style.scss */
nav li:first-child {
  padding-top: 0;
}

/* line 183, D:/OpenServer/domains/Test_hhr/scss/style.scss */
nav li:first-child a {
  background: url(/img/home/house.svg) no-repeat center center;
}

/* line 188, D:/OpenServer/domains/Test_hhr/scss/style.scss */
nav.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* menu burger - finish -*/
/* Block meta-data in the <Heard> - start */
/* line 194, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.header_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

/* line 203, D:/OpenServer/domains/Test_hhr/scss/style.scss */
#slogan, #offer, #messendgers {
  display: none;
}

/* line 208, D:/OpenServer/domains/Test_hhr/scss/style.scss */
#logo {
  display: inline-block;
  width: 75px;
  height: 52px;
  background: url(/img/logo/backg.png) no-repeat center center;
  background-size: 75px 52px;
  z-index: 1;
}

/* line 217, D:/OpenServer/domains/Test_hhr/scss/style.scss */
#logo a {
  display: block;
  height: 100%;
  background: url(/img/logo/logo.png) no-repeat center center;
  background-size: 51.46px 21.35px;
  z-index: 2;
}

/* line 226, D:/OpenServer/domains/Test_hhr/scss/style.scss */
#logo a:hover {
  zoom: 1;
}

/* line 232, D:/OpenServer/domains/Test_hhr/scss/style.scss */
address {
  display: inline-block;
  font-size: 1.1429em;
  height: 52px;
  width: 155px;
  padding: 10px 0 0 22px;
}

/* line 241, D:/OpenServer/domains/Test_hhr/scss/style.scss */
address time {
  font-size: 7px;
  line-height: 9px;
  font-weight: 400;
  letter-spacing: -0.03em;
}

/* line 247, D:/OpenServer/domains/Test_hhr/scss/style.scss */
address time[datetime=workday] {
  padding-left: 12px;
}

/* line 251, D:/OpenServer/domains/Test_hhr/scss/style.scss */
address time[datetime=workday], address time[datetime=weekends] {
  font-weight: 700;
}

/* line 259, D:/OpenServer/domains/Test_hhr/scss/style.scss */
address div {
  font-weight: 600;
  line-height: 14px;
}

/* line 265, D:/OpenServer/domains/Test_hhr/scss/style.scss */
address div a {
  font-style: normal;
  letter-spacing: 0.4px;
}

/* line 269, D:/OpenServer/domains/Test_hhr/scss/style.scss */
address div a:hover {
  zoom: 1;
}

/* line 277, D:/OpenServer/domains/Test_hhr/scss/style.scss */
address time[datetime="workday"]::before {
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  left: 0;
  position: absolute;
  border-radius: 5px;
  background: #12C868;
  z-index: 2;
}

/* -block phone number in the <Heard> - start */
/* line 293, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.header_data__callForm {
  padding-top: 4px;
  text-align: center;
}

/* line 296, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.header_data__callForm a {
  display: inline-block;
  font-size: 0.715em;
  color: #12C868;
  position: relative;
}

/* line 303, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.header_data__callForm a:hove {
  color: #F38120;
}

/* line 306, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.header_data__callForm a::after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  border: 0;
  border-bottom: 2px #12C868 dotted;
  position: absolute;
  bottom: -6px;
}

/* -block phone number in the <Heard> - finish */
/* Block meta-data in the <Heard> - finish */
/* Block <aside> - start */
/* line 325, D:/OpenServer/domains/Test_hhr/scss/style.scss */
aside {
  width: 225px;
  display: inline-block;
  position: absolute;
  z-index: 3;
  right: calc(100% / 2 - 112.5px);
  bottom: 0;
}

/* line 333, D:/OpenServer/domains/Test_hhr/scss/style.scss */
aside section {
  position: relative;
}

/* line 336, D:/OpenServer/domains/Test_hhr/scss/style.scss */
aside section div:first-child {
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 5px;
}

/* line 344, D:/OpenServer/domains/Test_hhr/scss/style.scss */
aside section li {
  display: block;
  background-color: #fff;
  position: relative;
  padding: 23px 54px 22px 17px;
  display: none;
  width: 217px;
}

/* line 354, D:/OpenServer/domains/Test_hhr/scss/style.scss */
aside section li:after {
  content: '';
  display: inline-block;
  width: 50%;
  height: 1px;
  -webkit-box-shadow: 0 1px 0px #edf2f5;
          box-shadow: 0 1px 0px #edf2f5;
  border: 0;
  border-top: 3px #EDF2F5 solid;
  position: absolute;
  bottom: 0px;
  right: 25%;
  z-index: 2;
}

/* line 371, D:/OpenServer/domains/Test_hhr/scss/style.scss */
aside section li:first-child {
  border-radius: 20px 20px 0 0;
  -webkit-clip-path: polygon(0 0, 98.6% 15px, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 98.6% 15px, 100% 100%, 0 100%);
  display: inline-block;
}

/* line 376, D:/OpenServer/domains/Test_hhr/scss/style.scss */
aside section li:last-child {
  border-radius: 0 0 20px 20px;
}

/* line 383, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.pulse {
  margin: 10px;
  display: block;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background: #F38120;
  cursor: pointer;
  -webkit-box-shadow: 0 0 0 rgba(243, 131, 32, 0.4);
          box-shadow: 0 0 0 rgba(243, 131, 32, 0.4);
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
  position: relative;
}

/* line 395, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.pulse::before {
  content: '+';
  width: 18px;
  height: 13px;
  color: #fff;
  font-size: 35px;
  position: absolute;
  bottom: 20px;
  right: -2px;
  z-index: 2;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(243, 131, 32, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(243, 131, 32, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(243, 131, 32, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(243, 131, 32, 0.4);
            box-shadow: 0 0 0 0 rgba(243, 131, 32, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(243, 131, 32, 0);
            box-shadow: 0 0 0 10px rgba(243, 131, 32, 0);
  }
}

/* Block <aside> - finish */
/* line 435, D:/OpenServer/domains/Test_hhr/scss/style.scss */
main {
  padding-top: 49px;
}

/* Block <Main> - start */
/* -Block h1 the title site in the <Main> */
/* line 441, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.main__title {
  text-align: center;
  padding: 0 15px;
}

/* line 444, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.main__title h1 {
  font-weight: 300;
  font-size: 1.29em;
  line-height: 1.6;
}

/* line 449, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.main__title h1 mark {
  font-weight: 600;
  font-size: 1.1429em;
  background-color: rgba(243, 129, 32, 0.3);
  line-height: 1.2;
}

/* line 457, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.main__title p {
  display: inline-block;
  padding: 7px 0 0 36px;
  font-size: 0.929em;
  font-weight: 400;
  position: relative;
}

/* line 466, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.main__title p::before {
  content: '';
  display: inline-block;
  width: 36px;
  height: 6px;
  background: url(/img/circle.png) no-repeat 0 0px, url(/img/circle.png) no-repeat 8px 0px, url(/img/circle.png) no-repeat 16px 0px, url(/img/circle.png) no-repeat 24px 0px;
  position: absolute;
  left: 0;
  top: 11.5px;
  z-index: 2;
}

/* -Block h1 the title site in the <Main> - finish */
/* -Block questions in to the <Main> - start */
/* line 487, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.main_questions {
  text-align: center;
  padding: 30px 50px 0;
  position: relative;
}

/* line 492, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.main_questions:before {
  content: '';
  display: inline-block;
  width: 11px;
  height: 9px;
  position: absolute;
  right: calc(100% / 2 - 5.5px);
  top: 18px;
  z-index: 2;
  background: url(/img/ikon/ikon.svg) no-repeat center center;
}

/* line 507, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.main_questions a {
  line-height: 1.2;
  font-size: 0.572em;
}

/* line 511, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.main_questions a:hover {
  zoom: 1;
}

/* line 517, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.main_questions span {
  font-weight: 600;
}

/* -Block questions in to the <Main> - finish */
/* -Block Button in the <Main> - start */
/* line 528, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.main__buttonForm {
  text-align: center;
}

/* line 530, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.main__buttonForm > div {
  display: inline-block;
  height: 60px;
  width: 276px;
  border-radius: 500px;
  background-position-x: calc(100% - 50px);
}

/* line 541, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.main__buttonForm > div a {
  display: block;
  padding: 13px 44px 0;
  height: 100%;
  color: #fff;
  font-size: 0.715em;
  text-align: left;
  text-transform: uppercase;
}

/* line 552, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.main__buttonForm > div a:hover {
  zoom: initial;
  color: #fff;
}

/* line 562, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.main__buttonForm_green {
  background: url(/img/arrow/arrow.png) center center no-repeat, #12C868;
  margin-bottom: 13px;
}

/* line 567, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.main__buttonForm_green:hover {
  background: url(/img/arrow/arrow.png) calc(100% - 50px) center no-repeat, rgba(18, 200, 104, 0.8);
}

/* line 573, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.main__buttonForm .main__buttonForm_orange {
  background: url(/img/arrow/arrow.png) calc(100% - 50px) center no-repeat, #F38120;
}

/* line 577, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.main__buttonForm .main__buttonForm_orange a {
  padding-right: 80px;
  line-height: 1.6;
}

/* line 581, D:/OpenServer/domains/Test_hhr/scss/style.scss */
.main__buttonForm .main__buttonForm_orange:hover {
  background: url(/img/arrow/arrow.png) calc(100% - 50px) center no-repeat, rgba(243, 129, 32, 0.8);
}

/* -Block Button in the <Main> - finish */
/* Block <Main> - finish */
/* Block <Footer> - start */
/* line 589, D:/OpenServer/domains/Test_hhr/scss/style.scss */
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

/* line 597, D:/OpenServer/domains/Test_hhr/scss/style.scss */
footer div {
  height: 285px;
  position: relative;
}

/* line 600, D:/OpenServer/domains/Test_hhr/scss/style.scss */
footer div:after {
  content: '';
  display: block;
  height: 285px;
  width: 100%;
  background: url(/img/home/house_roof.png) no-repeat 100% 0;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

/* Block <Footer> - finish */
@media screen and (min-width: 370.5px) {
  /* line 620, D:/OpenServer/domains/Test_hhr/scss/style.scss */
  #body {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
  }
  /* line 625, D:/OpenServer/domains/Test_hhr/scss/style.scss */
  header, main {
    z-index: 2;
  }
  /* line 628, D:/OpenServer/domains/Test_hhr/scss/style.scss */
  header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 1920px;
    height: initial;
    background: none;
    padding-bottom: 20px;
  }
  /* menu burger - start -*/
  /*  -infografika menu burger - start */
  /* line 640, D:/OpenServer/domains/Test_hhr/scss/style.scss */
  .menu {
    padding-top: 10px;
    width: 100%;
  }
  /* line 644, D:/OpenServer/domains/Test_hhr/scss/style.scss */
  .menu__burger {
    display: none;
  }
  /*  -infografika menu burger - finis */
  /* line 649, D:/OpenServer/domains/Test_hhr/scss/style.scss */
  nav {
    position: relative;
    top: initial;
    right: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    flex-stretch: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 7.5%;
       -moz-column-gap: 7.5%;
            column-gap: 7.5%;
    width: 100%;
  }
  /* line 662, D:/OpenServer/domains/Test_hhr/scss/style.scss */
  nav li {
    display: inline-block;
    width: initial;
    height: 20px;
    padding-top: 5px;
  }
  /* line 668, D:/OpenServer/domains/Test_hhr/scss/style.scss */
  nav li a:hover {
    zoom: initial;
  }
  /* line 673, D:/OpenServer/domains/Test_hhr/scss/style.scss */
  nav li:first-child {
    width: 25px;
  }
  /* menu burger - finis */
  /* Block meta-data in the <Heard> - start */
  /* line 681, D:/OpenServer/domains/Test_hhr/scss/style.scss */
  .header_data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 5%;
       -moz-column-gap: 5%;
            column-gap: 5%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  /* Block <Main> - start */
  /* -Block h1 the title site in the <Main> -start */
  /* line 691, D:/OpenServer/domains/Test_hhr/scss/style.scss */
  .main__title {
    padding: 10px 0;
    border-radius: 100px;
    border: 1px solid #EDF2F5;
    background-color: rgba(237, 242, 245, 0.5);
  }
  /* line 697, D:/OpenServer/domains/Test_hhr/scss/style.scss */
  .main__title h1 {
    font-weight: 400;
  }
  /* -Block h1 the title site in the <Main> -finish*/
  /* -Block Button in the <Main> - start */
  /* line 706, D:/OpenServer/domains/Test_hhr/scss/style.scss */
  .main__buttonForm > div a {
    line-height: 1.6;
  }
  /* -Block Button in the <Main> - finish */
  /* Block <Main> - finish */
  /* -Block <#offer> - start */
  /* line 716, D:/OpenServer/domains/Test_hhr/scss/style.scss */
  #offer {
    padding-top: 20px;
    display: inline-block;
  }
  /* line 720, D:/OpenServer/domains/Test_hhr/scss/style.scss */
  #offer a {
    padding-left: 25px;
    font-weight: 600;
    font-size: 0.85715em;
    background: none;
    z-index: 2;
  }
  /* line 726, D:/OpenServer/domains/Test_hhr/scss/style.scss */
  #offer a:hover {
    zoom: initial;
  }
  /* line 730, D:/OpenServer/domains/Test_hhr/scss/style.scss */
  #offer a::before {
    content: 'Pdf';
    display: inline;
    color: #12C868;
    position: absolute;
    left: 0;
    z-index: 1;
  }
  /* -Block <#offer> - finish */
  /* Block meta-data in the <Heard> - finish */
  /* Block <Footer> - start */
  /* line 746, D:/OpenServer/domains/Test_hhr/scss/style.scss */
  footer {
    height: inherit;
    z-index: 0;
  }
  /* line 749, D:/OpenServer/domains/Test_hhr/scss/style.scss */
  footer div {
    height: 100%;
    width: 100%;
    max-width: 1920px;
    z-index: 1;
  }
  /* line 755, D:/OpenServer/domains/Test_hhr/scss/style.scss */
  footer div::after {
    height: 100%;
    width: 100%;
    max-width: 1920px;
    z-index: 1;
    background: url(/img/home/house_roof_max.png) no-repeat 100% 0;
    background-size: cover;
  }
  /* Block <Footer> - finish */
}
