@viewport{width: device-width;}

* {
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
/* sbros stilei */
* { box-sizing: border-box;  -moz-box-sizing: border-box;}
+/* #body *{ margin:0; padding: 0; background: none;} */
body {background: none;}
html, body, div, object, ifreine, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, addr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, ol,
ul, li, fieldset, form, ladel, legent, table, caption, tbody, tfoot, thead, tr,  th, td, article, aside, canvas,
details, embed, figure, figcapcion, footer,  header, hgroup, menu, var, output, ruby, time, mark, audio, video,
select{margin:0; padding:0; border:0px; vertical-align:baseline; box-sizing: border-box; -moz-sizing:border-box;
position: relative; vertical-align:top; font-family:'Montserrat', 'Arial', 'sans-serif', 'Helvetica'; font-size: 14px;
line-height:1.2; letter-spacing: 0em; color: #1C1C1C; background-color: none;}

a, a:hover, a:active, a:visited {color: #1C1C1C; text-decoration: none;}
a, button, input[type='submit'], input[type='button'], input[type='reset'] {cursor:pointer;}

div, article, aside, details, figcapcion, figure, footer, header, hgroup, menu, nav, main, section{display:block;
border:0; margin: 0;}

table{border-collapse:collapse; border-spacing:0;}
ol li{padding-left:0; list-style: none;}
menu li, nav li, ul li{padding-left:0; list-style: none;}

#content ol li{padding-left:0; list-style: decimal;}
#content ul li{padding-left:0; list-style: square;}

blockquote,q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content: ''; content:none;}

ul li{list-style-type: none;}
*{zoom:1}

body h1{ font-size: 55px; font-weidth: 300;}
/* body h1{ font-size: 32px; font-weidth: 400;} */




