@import "../variable/variable.scss";

/* Block <aside> - start */
aside{
    width: 225px;
    display: inline-block;
    position: absolute;
    z-index: 3;
//     bottom: calc(-475px + 101px);
    right: calc(100% / 2 - 112.5px);
	bottom:  0;
	& section{
		position: relative;

		& div:first-child{
			position: absolute;
			z-index: 2;
			top: 10px;
			right: 5px;
		}


		li{
			display: block;
			background-color: #fff;
			position: relative;
			padding: 23px 54px 22px 17px;
			display: none;
			width: 217px;



			&:after{
				content: '';
				display: inline-block;
				width: 50%;
				height: 1px;

				box-shadow: 0 1px 0px rgba(237, 242, 245, 40%);
				border: 0;
				border-top: 3px $color_block solid;

				position: absolute;
				bottom: 0px;
				right:25%;
				z-index: 2;

			}

			&:first-child {
				border-radius: 20px 20px 0 0;
				clip-path: polygon(0 0, 98.6% 15px, 100% 100%, 0 100% );
		    display: inline-block;
			}
			&:last-child {
				border-radius:  0 0 20px 20px;
			}
		}
	}

}
.pulse {
  margin:10px;
  display: block;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background: #F38120;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(243, 131, 32, 0.4);
  animation: pulse 2s infinite;
  position:relative;

	&::before{
	content: '+';
    width: 18px;
    height: 13px;
    color: #fff;
    font-size: 35px;
    position: absolute;
    bottom: 20px;
    right: -2px;
    z-index: 2;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
	}

}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(243, 131, 32, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(243, 131, 32, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(243, 131, 32, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(243, 131, 32, 0.4);
    box-shadow: 0 0 0 0 rgba(243, 131, 32, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(243, 131, 32, 0);
      box-shadow: 0 0 0 10px rgba(243, 131, 32, 0);
  }

}

/* Block <aside> - finish */

@media screen and (min-width: 1200px){

	/* Block <aside> - start */
	aside{
		position: relative;
		right: initial;
		margin-left: initial;
// 		margin-right: calc(100% - (175px / 1920px));
		margin-left: 12%;

		& section{
		   & li{
		      width: 220px;
		      line-height: 1.45;
				display: inline-block;
				padding-right:15px;
				padding-left: 15px;
				padding-bottom: 30px;
				&:first-child{
					margin-top: 0;
				}

// 				margin-bottom:
		   }
	   }

	}
	/* Block <aside> - finish */
}

@media screen and (min-width: 1200px){
	/* Block <aside> - start */
	aside{
		margin-left:0.6%;
		padding-top: 100px;


		& section{
			& li{
				text-align: center;
			}
		}

	}
	.pulse{
		display: none;
	}
	/* Block <aside> - finish */

}

