/* menu burger - start -*/
/*  -infografika menu burger - start -*/
/* line 5, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
.menu {
  padding-left: 22px;
}

/* line 9, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
.menu__burger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  width: 100%;
  max-width: 20px;
  height: 15px;
  z-index: 3;
  top: 12px;
  zoom: 1.56;
}

/* line 23, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
.menu__burger svg {
  height: 15px;
}

/* line 28, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  -webkit-transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* line 35, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
  width: 20px;
}

/* line 40, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
  width: 20px;
}

/* line 45, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
  width: 20px;
}

/* line 50, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -137;
  stroke-width: 6;
}

/* line 55, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
.opened .line2 {
  stroke-dasharray: 0 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

/* line 60, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -137;
  stroke-width: 6;
}

/* -infografika menu burger - finish -*/
/* line 68, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
nav {
  top: 75px;
  right: 100%;
  position: absolute;
  width: 206px;
  border: 0;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  z-index: 2;
}

/* line 88, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
nav li {
  display: block;
  width: 100%;
  height: 32px;
  padding-top: 10px;
  text-align: center;
}

/* line 97, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
nav li a {
  font-weight: 500;
  font-size: 10px;
  line-height: 140%;
  text-transform: uppercase;
  text-style: none;
  display: block;
  height: 100%;
}

/* line 111, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
nav li:first-child {
  padding-top: 0;
}

/* line 113, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
nav li:first-child a {
  background: url(/img/home/house.svg) no-repeat center center;
}

/* line 118, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
nav.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* menu burger - finish -*/
@media screen and (min-width: 370.5px) {
  /* menu burger - start -*/
  /*  -infografika menu burger - start */
  /* line 127, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
  .menu {
    padding-top: 10px;
    width: 100%;
  }
  /* line 131, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
  .menu__burger {
    display: none;
  }
  /*  -infografika menu burger - finis */
  /* line 136, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
  nav {
    position: relative;
    top: initial;
    right: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    flex-stretch: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 7.5%;
       -moz-column-gap: 7.5%;
            column-gap: 7.5%;
    width: 100%;
  }
  /* line 149, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
  nav li {
    display: inline-block;
    width: initial;
    height: 20px;
    padding-top: 5px;
  }
  /* line 155, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
  nav li a:hover {
    zoom: initial;
  }
  /* line 160, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
  nav li:first-child {
    width: 25px;
  }
  /* menu burger - finis */
}

@media screen and (min-width: 1200px) {
  /*  -infografika menu burger - start -*/
  /* line 170, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
  .menu {
    padding-left: 0px;
  }
  /*  -infografika menu burger - fiihish -*/
  /* line 176, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
  nav li {
    height: initial;
    gap: 0;
  }
}

@media screen and (min-width: 1366px) {
  /* line 189, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
  nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-column-gap: 7%;
       -moz-column-gap: 7%;
            column-gap: 7%;
  }
  /* line 197, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
  nav li a {
    font-size: inherit;
  }
}

@media screen and (max-device-width: 1023.98px) {
  /* line 204, D:/OpenServer/domains/Test_hhr/scss/burger/burger.scss */
  nav li a {
    font-weight: 600;
  }
}
