$font_fimaly: 'Montserrat' 'sans-serif';

$font_size_8: 0.572em;
$font_size_10: 0.715em;
$font_size_13: 0.929em;
$font_size_16: 1.1429em;
$font_size_18: 1.290em;



$color_green: #12C868;
$color_font: #1C1C1C;
$color_orange: #F38120;

$backg_color_block: #EDF2F5;
$backg_button: url(/img/arrow/arrow.png) center center no-repeat;

$border-radius_500: 500px;

body{
	background-color: $backg_color_block;
// 	position: relative;
// 	padding-bottom: 600px;
}
#body {
	    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    padding-bottom: 285px;
}

h1 {
	font-size: 24px;
}
a:hover{
	zoom:1.3;
	color: $color_orange;
}
header{
	padding: 0 22px;
	min-width: 276px;
	width: 100%;
	max-width: 320px;
// 	max-width: 1920px;
	height:65px;

	display:flex;
	flex-direction: row-reverse;
	position: relative;
	justify-content:  start;
	z-index: 1;
	background-color: $backg_color_block;

	& heard{
		width: 100%;

	}
}

/* menu burger - start -*/
/*  -infografika menu burger - start -*/
.menu{
		padding-left: 22px;
	}

.menu__burger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  width: 100%;
	max-width: 20px;
	height: 15px;
	z-index: 3;
	top: 12px;

	zoom: 1.56;

	& svg {
		height: 15px;
	}

}
.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
  width: 20px;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
  width: 20px;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
  width: 20px;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -137;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 0 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -137;
  stroke-width: 6;
}

/* -infografika menu burger - finish -*/

nav {
	top: 75px;
	right: 100%;
	position: absolute;

	width: 206px;

	border: 0;

	display: none;
// 	display: flex;

	flex-wrap: wrap;
	flex-grow: 1;
	justify-content: stretch;



	z-index: 2;

	& li{
		display: block;
		width: 100%;
		height: 32px;
		padding-top: 10px;


		text-align: center;

		& a {
			font-weight: 500;
			font-size: 10px;
			line-height: 140%;
			text-transform: uppercase;
			text-style: none;


			display:block;
			height:100%;


		}
	}
	& li:first-child{
		padding-top: 0;
		& a{
			background: url(/img/home/house.svg) no-repeat center center;
		}
	}
}
nav.active{
	display:flex;
}
/* menu burger - finish -*/

/* Block meta-data in the <Heard> - start */
.header_data{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: start;



}
#slogan, #offer, #messendgers{
	display: none;
}


#logo{
	display: inline-block;
	width: 75px;
	height: 52px;

	background: url(/img/logo/backg.png) no-repeat center center;
	background-size: 75px 52px;
	z-index: 1;

	& a{
		display: block;
		height: 100%;

		background: url(/img/logo/logo.png) no-repeat center center;
		background-size: 51.46px 21.35px;

		z-index:2;

		&:hover{
			zoom: 1;
		}
	}
}

address{
	display: inline-block;
	font-size: 1.1429em;
	height: 52px;
	width: 155px;


	padding: 10px 0 0 22px;

	& time{
		font-size: 7px;
		line-height: 9px;
		font-weight: 400;
		letter-spacing: -0.03em;

		&[datetime=workday]{
			padding-left:12px;
		}

		&[datetime=workday],
		&[datetime=weekends]{
			font-weight: 700;
		}



	}
	& div{

		font-weight: 600;
		line-height: 14px;


		& a{
			font-style: normal;
			letter-spacing: 0.4px;

			&:hover{
				zoom: 1;
			}
		}
	}


}
address time[datetime="workday"]::before{
	content: '';
	display: inline-block;

	width:   7px;
	height: 7px;
	left: 0;
	position: absolute;

	border-radius: 5px;
	background: $color_green;
	z-index: 2;
}


/* -block phone number in the <Heard> - start */
.header_data__callForm{
	padding-top: 4px;
	text-align: center;
	& a{
		display: inline-block;

		font-size: $font_size_10;
		color: $color_green;
		position: relative;

		&::after{
			content: '';
			display: block;
			height:  1px;
			width: 100%;

			border:0;
			border-bottom: 2px $color_green dotted;

			position:   absolute;
			bottom: -6px;

		}
	}
}
/* -block phone number in the <Heard> - finish */
/* Block meta-data in the <Heard> - finish */

/* Block <aside> - start */
aside{
    width: 225px;
    display: inline-block;
    position: absolute;
    z-index: 3;
    bottom: calc(-475px + 101px);
    right: calc(100% / 2 - 112.5px);

	& section{
		position: relative;

		& div:first-child{
			position: absolute;
			z-index: 2;
			top: 10px;
			right: 5px;
		}


		li{
			display: block;
			background-color: #fff;
			position: relative;
			padding: 23px 60px 22px 17px;



			&:after{
				content: '';
				display: inline-block;
				width: 50%;
				height: 1px;

				box-shadow: 0 1px 0px rgba(237, 242, 245, 40%);
				border: 0;
				border-top: 3px $backg_color_block solid;

				position: absolute;
				bottom: 0px;
				right:25%;
				z-index: 2;

			}

			&:first-child {
				border-radius: 20px 20px 0 0;
				clip-path: polygon(0 0, 98.6% 15px, 100% 100%, 0 100% );
			}
			&:last-child {
				border-radius:  0 0 20px 20px;
			}
		}
	}

}
.pulse {
  margin:10px;
  display: block;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background: #F38120;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(243, 131, 32, 0.4);
  animation: pulse 2s infinite;
  position:relative;

	&::before{
	content: '+';
    width: 18px;
    height: 13px;
    color: #fff;
    font-size: 35px;
    position: absolute;
    bottom: 20px;
    right: -2px;
    z-index: 2;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
	}

}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(243, 131, 32, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(243, 131, 32, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(243, 131, 32, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(243, 131, 32, 0.4);
    box-shadow: 0 0 0 0 rgba(243, 131, 32, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(243, 131, 32, 0);
      box-shadow: 0 0 0 10px rgba(243, 131, 32, 0);
  }

}

/* Block <aside> - finish */
main{
// 	padding-top: 35px;
	padding-top: 49px;
}
/* Block <Main> - start */
	/* -Block h1 the title site in the <Main> */
.main__title{
	text-align: center;
	& h1{
		font-weight: 300;
		font-size: $font_size_18;
		line-height: 1.6;

		& mark{
			font-weight: 600;
			font-size: $font_size_16;
			background-color: rgba(243, 129, 32, 0.3);
			line-height: 1.2;
		}
	}

	& p{
		display: inline-block;
		padding: 7px 0 0 36px;

		font-size: $font_size_13;
		font-weight: 400;

		position: relative;

		&::before{
			content: '';
			display: inline-block;

			width:   36px;
			height: 6px;
			background: url(/img/circle.png) no-repeat 0 0px, url(/img/circle.png) no-repeat 8px 0px, url(/img/circle.png) no-repeat 16px 0px, url(/img/circle.png) no-repeat 24px 0px;


			position: absolute;
			left: 0;
			top: 11.5px;
			z-index: 2;


		}
	}
}
	/* -Block h1 the title site in the <Main> - finish */

/* -Block questions in to the <Main> - start */
.main_questions{
	text-align: center;
	padding: 30px 50px 0;
	position: relative;

	&:before{
		content: '';

		display: inline-block;
		width: 11px;
		height: 9px;
		position: absolute;
		right: calc(100% / 2 - 5.5px);
		top: 18px;
		z-index: 2;

		background: url(/img/ikon/ikon.svg) no-repeat center center;

	}

	& a{
		line-height: 1.2;
		font-size: $font_size_8;

		&:hover{
			zoom: 1;

		}
	}

	& span{
		font-weight: 600;
// 		&:hover{
// 			color: $color_orange;
//
// 		}
	}
}
/* -Block questions in to the <Main> - finish */

/* -Block Button in the <Main> - start */
.main__buttonForm{
	text-align: center;
	& > div{
		display: inline-block;
		height: 60px;
		width: 276px;

		border-radius: 500px;
		background-position-x: calc(100% - 50px);




		& a{
			display: block;
		    padding: 13px 44px 0;
		    height: 100%;
		    color: #fff;
		    font-size: 0.715em;
		    text-align: left;
		    text-transform: uppercase;



			&:hover{
				zoom: initial;
				color: #fff;
// 				font-size: $font_size_16;

			}
		}
	}

}
.main__buttonForm_green{
	background: $backg_button, $color_green;

	margin-bottom: 13px;

	&:hover{
		background: url(/img/arrow/arrow.png) calc(100% - 50px) center no-repeat, rgba(18, 200, 104, 0.8);
	}

}

.main__buttonForm .main__buttonForm_orange{
	background: url(/img/arrow/arrow.png) calc(100% - 50px) center no-repeat, #F38120;
// 	width: 335px;

	& a{
    padding-right: 80px;
    line-height: 1.6;
	}
	&:hover{
		background: url(/img/arrow/arrow.png) calc(100% - 50px) center no-repeat, rgba(243, 129, 32, 0.8);
	}
}
/* -Block Button in the <Main> - finish */

/* Block <Main> - finish */
footer{

	position: absolute;

	width: 100%;
	bottom: 0;


	& div{
		height: 285px;
		position: relative;
		&:after{
			content: '';
			display: block;
			height:285px;
			width: 100%;
			background: url(/img/home/house_roof.png) no-repeat;

			position:absolute;
			bottom: 0;
			right: 0;
			z-index: 2;

		}
	}
}
/* Block <Footer> - start */

/* Block <Footer> - finish */



