
@import "variable/variable.scss";
@import "burger/burger.scss";
@import "header/header.scss";
@import "aside/aside.scss";
@import "main/main.scss";
@import "footer/footer.scss";


body{
	background-color: $color_block;
// 	position: relative;
// 	padding-bottom: 600px;
}
#body {
	    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    flex-grow: 1;
    padding-bottom: 285px;
}

h1 {
	font-size: 24px;
}
a:hover{
	zoom:1.3;
	color: $color_orange;
}

header, main{
	z-index: 2;
}


@media screen and (min-width: 370.5px){
	#body{
		width: 100%;
		max-width: 1570px;
		margin: 0 auto;
	}

	header, main{
		z-index: 2;
	}


}




@media screen and (min-width: 1024px){
	#body{
		align-content: start;
		flex-direction: row;
		flex-wrap: wrap;
		flex-stretch: 1;
// 		justify-content: start;
		justify-content: start;
		align-items: start;
		padding-top: 30px;
	}

}

