/* Block <Footer> - start */
/* line 4, D:/OpenServer/domains/Test_hhr/scss/footer/footer.scss */
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

/* line 12, D:/OpenServer/domains/Test_hhr/scss/footer/footer.scss */
footer div {
  height: 285px;
  position: relative;
}

/* line 15, D:/OpenServer/domains/Test_hhr/scss/footer/footer.scss */
footer div:after {
  content: '';
  display: block;
  height: 285px;
  width: 100%;
  background: url(/img/home/house_roof.png) no-repeat 100% 0;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

/* Block <Footer> - finish */
@media screen and (min-width: 370.5px) {
  /* Block <Footer> - start */
  /* line 36, D:/OpenServer/domains/Test_hhr/scss/footer/footer.scss */
  footer {
    height: inherit;
    z-index: 0;
  }
  /* line 39, D:/OpenServer/domains/Test_hhr/scss/footer/footer.scss */
  footer div {
    height: 100%;
    width: 100%;
    max-width: 1920px;
    z-index: 1;
  }
  /* line 45, D:/OpenServer/domains/Test_hhr/scss/footer/footer.scss */
  footer div::after {
    height: 100%;
    width: 100%;
    max-width: 1920px;
    z-index: 1;
    background: url(/img/home/house_roof_max.png) no-repeat 100% 0;
    background-size: cover;
  }
  /* Block <Footer> - finish */
}

@media screen and (min-width: 1024px) {
  /* Block <Footer> - start */
  /* line 66, D:/OpenServer/domains/Test_hhr/scss/footer/footer.scss */
  footer {
    height: 100%;
  }
  /* line 68, D:/OpenServer/domains/Test_hhr/scss/footer/footer.scss */
  footer div {
    margin: 0 auto;
  }
  /* Block <Footer> - finish */
}
