@charset "UTF-8";
/* Block meta-data in the <Heard> - start */
/* line 4, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
header {
  padding: 0 22px;
  padding-bottom: 20px;
  min-width: 276px;
  width: 100%;
  max-width: 320px;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  z-index: 1;
  background-color: #EDF2F5;
}

/* line 21, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
header heard {
  width: 100%;
}

/* line 28, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
.header_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

/* line 37, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
#slogan, #offer, #messendgers {
  display: none;
}

/* line 42, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
#logo {
  display: inline-block;
  width: 75px;
  height: 52px;
  background: url(/img/logo/backg.png) no-repeat center center;
  background-size: 75px 52px;
  z-index: 1;
}

/* line 51, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
#logo a {
  display: block;
  height: 100%;
  background: url(/img/logo/logo.png) no-repeat center center;
  background-size: 51.46px 21.35px;
  z-index: 2;
}

/* line 60, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
#logo a:hover {
  zoom: 1;
}

/* -block <address> in the <Heard> - start */
/* line 67, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
address {
  display: inline-block;
  font-size: 1.1429em;
  height: 52px;
  width: 155px;
  padding: 10px 0 0 22px;
}

/* line 76, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
address time {
  font-size: 7px;
  line-height: 9px;
  font-weight: 400;
  letter-spacing: -0.03em;
}

/* line 82, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
address time[datetime=workday] {
  padding-left: 12px;
}

/* line 86, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
address time[datetime=workday], address time[datetime=weekends] {
  font-weight: 700;
}

/* line 94, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
address div {
  font-weight: 600;
  line-height: 14px;
}

/* line 100, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
address div a {
  font-style: normal;
  letter-spacing: 0.4px;
}

/* line 104, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
address div a:hover {
  zoom: 1;
}

/* line 112, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
address time[datetime="workday"]::before {
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  left: 0;
  position: absolute;
  border-radius: 5px;
  background: #12C868;
  z-index: 2;
}

/* -block <address> in the <Heard> - finish */
/* -block phone number in the <Heard> - start */
/* line 128, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
.header_data__callForm {
  padding-top: 4px;
  text-align: center;
}

/* line 131, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
.header_data__callForm a {
  display: inline-block;
  font-size: 0.715em;
  color: #12C868;
  position: relative;
}

/* line 138, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
.header_data__callForm a:hove {
  color: #F38120;
}

/* line 141, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
.header_data__callForm a::after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  border: 0;
  border-bottom: 2px #12C868 dotted;
  position: absolute;
  bottom: -6px;
}

/* -block phone number in the <Heard> - finish */
/* Block meta-data in the <Heard> - finish */
@media screen and (min-width: 370.5px) {
  /* line 162, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  header, main {
    z-index: 2;
  }
  /* line 165, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 1920px;
    height: initial;
    background: none;
    padding-bottom: 20px;
    padding-left: 9.1%;
    padding-right: 9.1%;
  }
  /* Block meta-data in the <Heard> - start */
  /* line 178, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  .header_data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 5%;
       -moz-column-gap: 5%;
            column-gap: 5%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  /* Block <Main> - start */
  /* -Block h1 the title site in the <Main> -start */
  /* line 188, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  .main__title {
    padding: 10px 0;
    border-radius: 100px;
    border: 1px solid #EDF2F5;
    background-color: rgba(237, 242, 245, 0.5);
  }
  /* line 194, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  .main__title h1 {
    font-weight: 400;
  }
  /* -Block h1 the title site in the <Main> -finish*/
  /* -Block Button in the <Main> - start */
  /* line 203, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  .main__buttonForm > div a {
    line-height: 1.6;
  }
  /* -Block Button in the <Main> - finish */
  /* Block <Main> - finish */
  /* -Block <#offer> - start */
  /* line 213, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  #offer {
    padding-top: 20px;
    display: inline-block;
  }
  /* line 217, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  #offer a {
    padding-left: 25px;
    font-weight: 600;
    font-size: 0.85715em;
    background: none;
    z-index: 2;
  }
  /* line 223, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  #offer a:hover {
    zoom: initial;
  }
  /* line 227, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  #offer a::before {
    content: 'Pdf';
    display: inline;
    color: #12C868;
    position: absolute;
    left: 0;
    z-index: 1;
  }
  /* -Block <#offer> - finish */
  /* Block meta-data in the <Heard> - finish */
}

@media screen and (min-width: 1024px) {
  /* Block meta-data in the <Heard> - start */
  /* line 245, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  header {
    width: 100%;
  }
  /* line 249, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  #logo {
    width: 188px;
    height: 78px;
    background: none;
  }
  /* line 254, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  #logo a {
    background: url(/img/logo/logo_max.png) no-repeat center center;
    background-size: 188px 78px;
  }
  /* Block meta-data in the <Heard> - flash */
  /* Block meta-data in the <Heard> - start */
  /* line 263, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  #slogan {
    display: block;
    width: 205px;
    height: 92px;
  }
  /* line 267, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  #slogan p {
    font-size: 0.85715em;
  }
  /* Block meta-data in the <Heard> - finish */
}

@media screen and (min-width: 1366px) {
  /* -Block <#offer> - start */
  /* line 277, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  #offer {
    padding-left: 20px;
  }
}

@media screen and (min-width: 1366px) {
  /* Block meta-data in the <Heard> - start */
  /* line 285, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  header {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 290, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  .header_data {
    padding: 65px 30px 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 7.4%;
       -moz-column-gap: 7.4%;
            column-gap: 7.4%;
  }
  /* line 296, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  #slogan, #offer, #logo, #messendger {
    text-align: center;
  }
  /* Block meta-data in the <Heard> - finish */
  /* -Block <#offer> - start */
  /* line 301, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  #offer {
    padding-top: 37px;
  }
  /* line 305, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  #offer a {
    display: inline-block;
    width: 100%;
    padding-left: 0;
    letter-spacing: 0.6px;
  }
  /* line 311, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  #offer a::before {
    left: -49px;
  }
  /* -Block <#offer> - finish */
  /* -Block <#messendger> - start */
  /* -Block <#messendger> - start */
  /* line 4, D:/OpenServer/domains/Test_hhr/scss/messendger/messendger.scss */
  #messendger {
    display: initial;
    padding-top: 10px;
  }
  /* line 8, D:/OpenServer/domains/Test_hhr/scss/messendger/messendger.scss */
  #messendger a {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-position-y: 4px;
  }
  /* line 15, D:/OpenServer/domains/Test_hhr/scss/messendger/messendger.scss */
  #messendger a:hover {
    zoom: 1;
  }
  /* line 21, D:/OpenServer/domains/Test_hhr/scss/messendger/messendger.scss */
  .messendger__viber {
    background: no-repeat url(/img/messedger/viber.svg) center;
    margin-top: 24px;
  }
  /* line 26, D:/OpenServer/domains/Test_hhr/scss/messendger/messendger.scss */
  .messendger__viber:hover {
    background: no-repeat url(/img/messedger/viber_hover.svg) center;
  }
  /* line 32, D:/OpenServer/domains/Test_hhr/scss/messendger/messendger.scss */
  .messendger__whathsapp {
    background: no-repeat url(/img/messedger/whathsapp.svg) center;
    margin-top: 24px;
  }
  /* line 37, D:/OpenServer/domains/Test_hhr/scss/messendger/messendger.scss */
  .messendger__whathsapp:hover {
    background: no-repeat url(/img/messedger/whathsapp_hover.svg) center;
  }
  /* line 43, D:/OpenServer/domains/Test_hhr/scss/messendger/messendger.scss */
  .messendger__tg {
    background: no-repeat url(/img/messedger/tg.svg) center;
    background-position-y: 4px;
    margin-top: 24px;
  }
  /* line 49, D:/OpenServer/domains/Test_hhr/scss/messendger/messendger.scss */
  .messendger__tg:hover {
    background: no-repeat url(/img/messedger/tg_hover.svg) center;
  }
  /* -Block <#messendger> - finish */
  /* -Block <#messendger> status - start */
  /* line 71, D:/OpenServer/domains/Test_hhr/scss/messendger/messendger.scss */
  .messendger__status {
    display: inline-block;
    height: 4px;
    width: 4px;
    padding: 0;
    margin: 5px 0 0 0;
    position: relative;
    z-index: 1;
  }
  /* line 82, D:/OpenServer/domains/Test_hhr/scss/messendger/messendger.scss */
  .messendger__status p {
    font-weight: 400;
    font-size: 12px;
    position: absolute;
    top: -5px;
    left: 13px;
    z-index: 2;
    letter-spacing: 0.7px;
  }
  /* line 98, D:/OpenServer/domains/Test_hhr/scss/messendger/messendger.scss */
  .status.messendger__status_ofline::after {
    content: 'офлайн';
    display: inline-block;
    font-size: inherit;
    font-weight: 400;
    position: absolute;
    z-index: 2;
    top: -7px;
    left: 85px;
  }
  /* line 113, D:/OpenServer/domains/Test_hhr/scss/messendger/messendger.scss */
  .status.messendger__status_ofline::before {
    content: "";
    font-size: 1px;
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: #F38120;
    position: absolute;
    top: 0;
  }
  /* line 129, D:/OpenServer/domains/Test_hhr/scss/messendger/messendger.scss */
  .status.messendger__status_online::after {
    content: 'онлайн';
    display: inline-block;
    font-size: inherit;
    font-weight: 700;
    position: absolute;
    z-index: 2;
    top: -7px;
    left: 85px;
  }
  /* line 140, D:/OpenServer/domains/Test_hhr/scss/messendger/messendger.scss */
  .status.messendger__status_online .status__text_ofline {
    display: none;
  }
  /* line 144, D:/OpenServer/domains/Test_hhr/scss/messendger/messendger.scss */
  .status.messendger__status_online::before {
    content: "";
    font-size: 1px;
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: #12C868;
    position: absolute;
    top: 0;
  }
  /* -Block <#messendger> - finish */
  /* -Block <#messendger> - finish */
  /* -block <address> in the <Heard> - start */
  /* line 323, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  address {
    width: 240px;
  }
  /* line 325, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  address time {
    font-size: 0.85715em;
  }
  /* line 330, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  .header_data__phone a {
    font-size: 22px;
  }
  /* line 335, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  .header_data__callForm {
    padding-top: 16px;
  }
  /* line 337, D:/OpenServer/domains/Test_hhr/scss/header/header.scss */
  .header_data__callForm a {
    font-size: 0.85715em;
  }
  /* -block <address> in the <Heard> - finish */
}
