
$font_fimaly: 'Montserrat' 'sans-serif';

$font_size_8: 0.572em;
$font_size_10: 0.715em;
$font_size_12: 0.85715em;
$font_size_13: 0.929em;
$font_size_16: 1.1429em;
$font_size_18: 1.290em;
$font_size_55: 3.5em;



$color_green: #12C868;
$color_font: #1C1C1C;
$color_orange: #F38120;

$color_block: #EDF2F5;
// $backg_button: url(/img/arrow/arrow.png) center center no-repeat;
$arrow_button: url(/img/arrow/arrow.png) center center no-repeat;

$border-radius_500: 500px;
