@import "../variable/variable.scss";

/* Block <Main> - start */
main{
// 	padding-top: 35px;
	padding-top: 49px;
}
	/* -Block h1 the title site in the <Main> */
.main__title{
	text-align: center;
	padding: 0 15px;
	& h1{
		font-weight: 300;
		font-size: $font_size_18;
		line-height: 1.6;

		& mark{
			font-weight: 600;
			font-size: $font_size_16;
			background-color: rgba(243, 129, 32, 0.3);
			line-height: 1.2;
		}
	}

	& p{
		display: inline-block;
		padding: 7px 0 0 36px;

		font-size: $font_size_13;
		font-weight: 400;

		position: relative;

		&::before{
			content: '';
			display: inline-block;

			width:   36px;
			height: 6px;
			background: url(/img/circle.png) no-repeat 0 0px, url(/img/circle.png) no-repeat 8px 0px, url(/img/circle.png) no-repeat 16px 0px, url(/img/circle.png) no-repeat 24px 0px;


			position: absolute;
			left: 0;
			top: 11.5px;
			z-index: 2;


		}
	}
}
	/* -Block h1 the title site in the <Main> - finish */

/* -Block questions in to the <Main> - start */
.main_questions{
	text-align: center;
	padding: 30px 50px 0;
	position: relative;

	&:before{
		content: '';

		display: inline-block;
		width: 11px;
		height: 9px;
		position: absolute;
		right: calc(100% / 2 - 5.5px);
		top: 18px;
		z-index: 2;

		background: url(/img/ikon/ikon.svg) no-repeat center center;

	}

	& a{
		line-height: 1.2;
		font-size: $font_size_8;

		&:hover{
			zoom: 1;

		}
	}

	& span{
		font-weight: 600;
// 		&:hover{
// 			color: $color_orange;
//
// 		}
	}
}
/* -Block questions in to the <Main> - finish */

/* -Block Button in the <Main> - start */
.main__buttonForm{
	text-align: center;
	& > div{
		display: inline-block;
		height: 60px;
		width: 276px;

		border-radius: 500px;
		background-position-x: calc(100% - 50px);




		& a{
			display: block;
		    padding: 13px 44px 0;
		    height: 100%;
		    color: #fff;
		    font-size: 0.715em;
		    text-align: left;
		    text-transform: uppercase;



			&:hover{
				zoom: initial;
				color: #fff;
// 				font-size: $font_size_16;

			}
		}
	}

}
.main__buttonForm_green{
	background: $arrow_button, $color_green;

	margin-bottom: 13px;

	&:hover{
		background: url(/img/arrow/arrow.png) calc(100% - 50px) center no-repeat, rgba(18, 200, 104, 0.8);
	}

}

.main__buttonForm .main__buttonForm_orange{
	background: url(/img/arrow/arrow.png) calc(100% - 50px) center no-repeat, #F38120;
// 	width: 335px;

	& a{
    padding-right: 80px;
    line-height: 1.6;
	}
	&:hover{
		background: url(/img/arrow/arrow.png) calc(100% - 50px) center no-repeat, rgba(243, 129, 32, 0.8);
	}
}
/* -Block Button in the <Main> - finish */

/* Block <Main> - finish */

@media screen and (min-width: 320,5px){
	.main_questions a{
	border-radius: 100px;
    border: 1px solid #EDF2F5;
    background-color: rgba(237, 242, 245, 0.5);
	}
}
@media screen and (min-width: 370.5px){
	/* Block <Main> - start */
	main{
		z-index: 2;
	}
	/* -Block h1 the title site in the <Main> -start */
	.main__title{
		padding: 10px 0;
		border-radius: 100px;
		border: 1px solid $color_block;
		background-color: rgba(237, 242, 245, 0.5);

		& h1{
			font-weight: 400;
		}
	}
	/* -Block h1 the title site in the <Main> -finish*/

	/* -Block Button in the <Main> - start */
		.main__buttonForm{
			& > div {
				& a{
					line-height: 1.6;
				}
			}
		}
	/* -Block Button in the <Main> - finish */
	/* Block <Main> - finish */
}

@media screen and (min-width: 768px){
	/* Block <Main> - start */
	/* -Block h1 the title site in the <Main> -start */
	.main__title{
		border: 0;
		background: none;
	}

	/* -Block h1 the title site in the <Main> -finish*/
	/* Block <Main> - finish */

}

@media screen and (min-width: 1024px){
	/* Block <Main> - start */
	main{
			margin: 0 auto;
		}
	/* -Block h1 the title site in the <Main> -start */
	.main__title{
		width: 660px;
		font-size: initial;

		& h1, & h1 mark{
			font-size: 53px;
			line-height: 85px;
		}
		& p{
			width: 100%;
			text-align: left;
			font-size: 2.0em;

			&::before {
				top: 24.5px;
			}
		}

	}
	/* -Block h1 the title site in the <Main> -finish */

	/* -Block Button in the <Main> - start */
	.main__buttonForm{
		z-index: 3;
		position: relative;
		bottom: 45px;
	}
	div.main__buttonForm_green, div.main__buttonForm_orange{
		width: 375px;
		height: 100px;

		& a{
			font-size: inherit;
// 			padding-top: calc(176.297px - 11.2px);
			padding-top: 28px;
		}

	}
	/* -Block Button in the <Main> - finish */

	/* -Block questions in to the <Main> - start */
	.main_questions{
		width: 234px;
		height: 88px;

		-index: 2;
		top: 168px;

		&::before{
		width: 22px;
		height: 18px;
			right: calc(100% - 31px);
			top: 29px;
		}

	}
	/* -Block questions in to the <Main> - finish */
	/* Block <Main> - finish */
}
@media screen and (min-width: 1200px){

	/* Block <Main> - start */
	main{
		width: 870px;
		padding-top: 90px;
		margin: 0;
	}

	/* Block <Main> - finish */

	/* -Block h1 the title site in the <Main> - start */
	.main__title{
		width: 100%;
		padding-left: 75px;

		text-align: left;

		& h1,
		& mark{
			letter-spacing: 1px;
		}

		& p{
			padding-left: 65px;
			padding-top: 20px;

			&::before{
				content: '';
				display: inline-block;
				width: 70px;
				height: 12px;
				background: url(/img/circle_max.png) no-repeat 0 0px;
				top: 35px;
				left: -5px;
			}
		}
	}
	/* -Block h1 the title site in the <Main> -finish*/

	/* -Block Button in the <Main> - start */
	.main__buttonForm{
		text-align: left;
		padding-left:50px;
	}
	.main__buttonForm_green{
		margin-left: 12px;
	}

	div.main__buttonForm_orange{
		margin-left: 15px;
		width: 332px;
	}
	/* -Block Button in the <Main> - finish */

	/* -Block questions in to the <Main> - start */
	.main_questions{
		width: 276px;
		height: 88px;
		padding: 17px 20px 0 30px;
		line-height: 1.55;
		margin-left: 75px;

		&::before{
			zoom: 2;
			top: 4px;
			left: -10px;
		}
		& a{
			font-size: inherit;

		}
	}
	/* -Block questions in to the <Main> - finish */

}
@media screen and (max-device-width: 1023.98px){
	.main__title {
	padding: 10px 0;
    border-radius: 100px;
    border: 1px solid #EDF2F5;
    background-color: rgba(237, 242, 245, 0.5);}


    }



 @media screen and (max-device-width: 1424.98px) and (min-device-width: 320.98px){
      .main_questions {
        margin: 10px auto;
         border: 0;
         padding: 10px 0;
	    border-radius: 100px;
	    border: 1px solid #EDF2F5;
	    background-color: rgba(237, 242, 245, 0.5);
         padding: 45px 10px 10px 10px;

			height: initial;
			width: 250px;

         &:before{
            width: 15px;
            height: 15px;
            top: 0;
            left: calc((100% / 2) - 7.5px);
            zoom: 3;
         }

	      & a{
		      font-weight: 500;
	         font-size: 12px;
	         letter-spacing: 1.2px;
	      }
      }
    }

 @media screen and (max-device-width: 1424.98px) and (min-device-width: 921px) and (min-device-height: 645px){
   .main_questions {
		top: 250px;
   }

}

@media screen and (max-device-width: 1424.98px) and (min-device-width: 921px) and (max-device-height: 644.98px){
	.main__buttonForm{
		top: -105px;
	}


}